@charset 'utf8';

@import (less) '../../less/common/palette.less';

section {
	width: 100vw;
}

ul {
	width: 100%;
}

i {
	opacity: 0;
	
	&.visible {
		opacity: 1;
	}
}

span.none {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
	});
}

.max-two-thirds-height {
	max-height: 66vh;
	overflow-y: auto;
}
