@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

aside {
	display: block;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
	});
}
