<aside *ngIf="this.bottomState === 'active' || this.leftState === 'active' || this.rightState === 'active' || this.topState === 'active'"
		[@drawerBackgroundFadeInOutAnimation]="true"
		(click)="this.doClose();"
		(swipe)="this.doSwipe($event);"
></aside>
<section
		[@drawerSlideInOutAnimationBottom]="this.bottomState"
		[@drawerSlideInOutAnimationLeft]="this.leftState"
		[@drawerSlideInOutAnimationRight]="this.rightState"
		[@drawerSlideInOutAnimationTop]="this.topState"
		[class.bottom]="this.direction === ECommonsDrawerDirection.BOTTOM"
		[class.left]="this.direction === ECommonsDrawerDirection.LEFT"
		[class.right]="this.direction === ECommonsDrawerDirection.RIGHT"
		[class.top]="this.direction === ECommonsDrawerDirection.TOP"
		(swipe)="this.doSwipe($event);"
><ng-content></ng-content></section>
