@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/layout.less';

aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: @web-app-commons__elevation__scrimmed;
	
	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value}.theme-light :host & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__modal--background}";
		}
		body.webappcommons-theme-@{value}.theme-dark :host & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__modal--background--dark}";
		}
	});
}

section {
	display: block;
	position: fixed;
	box-sizing: border-box;

	z-index: @web-app-commons__elevation__scrimmed + 1;

	&.left {	
		top: 0;
		left: 0;
	}
	&.bottom {
		bottom: 0;
		left: 0;
	}
	&.right {	
		top: 0;
		right: 0;
	}
	&.top {
		top: 0;
		left: 0;
	}
	
	margin: 0;
	padding: 0;
}
