@charset 'utf8';

@import (less) '../../less/sizes.less';

div.centering.time {
	padding-left: ~'calc((100% - ' @web-app-commons__sizes__cylinder-picker-time--width ~') / 2)';
}
div.centering.date {
	padding-left: ~'calc((100% - ' @web-app-commons__sizes__cylinder-picker-date--width--short ~') / 2)';
}
