@charset 'utf8';

@total-gap: 16px;
@button--margin: 4px;

aside {
	display: flex;
	flex-wrap: wrap;
	
	align-items: center;
	justify-content: flex-start;
	gap: @total-gap - (@button--margin * 2);
	
	:host.right & {
		justify-content: flex-end;
	}
	:host.center & {
		justify-content: center;
	}
}
