@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

.generate-col-width-sizes(@n, @i: 0) when (@i < @n) {
	table.cols-@{i} {
		td, th {
			width: ~'calc(100% / ' @i ~')';
		}
	}
	.generate-col-width-sizes(@n, (@i + 1));
}
.generate-col-width-sizes(10);

table {
	table-layout: fixed;
	width: 100%;
}

table, thead, tbody, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

td, th {
	text-align: center;

	font-family: @materialdesign__font__family;
	
	table.cols-1 & {
		width: calc(100% / 1);
	}
}

th {
	font-size: @materialdesign__font__title--size;
	font-weight: @materialdesign__font__title--weight;
	line-height: @materialdesign__font__title--size;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
	});
}

td {
	font-size: @materialdesign__font__display1--size;
	font-weight: @materialdesign__font__display1--weight;
	line-height: @materialdesign__font__display1--size;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{theme-@{value}__palette__primary}";
		}
	});
}
