<table
		[class.cols-1]="this.labels.length === 1"
		[class.cols-2]="this.labels.length === 2"
		[class.cols-3]="this.labels.length === 3"
		[class.cols-4]="this.labels.length === 4"
		[class.cols-5]="this.labels.length === 5"
		[class.cols-6]="this.labels.length === 6"
		[class.cols-7]="this.labels.length === 7"
		[class.cols-8]="this.labels.length === 8"
		[class.cols-9]="this.labels.length === 9"
		[class.cols-10]="this.labels.length === 10"
		[class.cols-11]="this.labels.length === 11"
		[class.cols-12]="this.labels.length === 12"
>
	<thead>
		<tr>
			<th *ngFor="let label of this.labels">{{label}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td *ngFor="let label of this.labels">{{this.tallies.get(label) | commonsPrettyFigure}}</td>
		</tr>
	</tbody>
</table>
