@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@body__font--size: @materialdesign__font__body1--size;
@body__font--weight: 400;
@body__font--size--larger: @materialdesign__font__subheading--size;
@body__font--size--largest: @materialdesign__font__title--size;

section {
	display: block;
}

dd {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: @materialdesign__font__family;
	font-weight: @body__font--weight;
	font-size: @body__font--size;
	line-height: @body__font--size * @web-app-commons__paragraph__text--lineheight--ratio;
}
:host.larger dd {
	font-size: @body__font--size--larger;
	line-height: @body__font--size--larger * @web-app-commons__paragraph__text--lineheight--ratio;
}
:host.largest dd {
	font-size: @body__font--size--largest;
	line-height: @body__font--size--largest * @web-app-commons__paragraph__text--lineheight--ratio;
}
