<section
		(click)="this.doSelect();"
>
	<dt commons-avatar-list-item
		[avatar]="post.avatar"
		(onSelect)="this.doSelect();"
	>
		<ng-container title>{{post.name}}</ng-container>
		<ng-container time><commons-avatar-post-timestamp
				[timestamp]="post.time"
		></commons-avatar-post-timestamp></ng-container>
		<ng-container label *ngIf="post.label">{{post.label}}</ng-container>
	</dt>
	<dd>{{post.message | commonsPrettyLimitLength:(this.truncate !== undefined):this.truncate:true}}</dd>
</section>