@charset 'utf8';


@web-app-commons__themes: blue, darkred, hotpink, marine, muted, night, patrolred, purple;


/* blue theme */
@import (less) './themes/blue.less';

@web-app-commons__theme-blue__palette__body--background--greyscale: greyscale(@theme-blue__palette__body--background);
@web-app-commons__theme-blue__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-blue__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-blue__palette__body--text: mix(@web-app-commons__theme-blue__palette__body--background--greyscale--invert, @web-app-commons__theme-blue__palette__body--background--greyscale, 80%);
@web-app-commons__theme-blue__palette__body--text--invert: difference(@web-app-commons__theme-blue__palette__body--text, #ffffff);

@web-app-commons__theme-blue__palette__modal--background: fade(@web-app-commons__theme-blue__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-blue__palette__modal--background--dark: fade(@web-app-commons__theme-blue__palette__body--background--greyscale, 50%);

@web-app-commons__theme-blue__palette__disabled: mix(@web-app-commons__theme-blue__palette__body--text, @web-app-commons__theme-blue__palette__body--background--greyscale, 30%);
@web-app-commons__theme-blue__palette__subtle: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-blue__palette__subtler: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-blue__palette__subtlerer: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-blue__palette__subtlest: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-blue__palette__subtle--dark: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-blue__palette__subtler--dark: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-blue__palette__subtlest--dark: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-blue__palette__shadow: fade(@web-app-commons__theme-blue__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-blue__palette__shadow--dark: fade(@web-app-commons__theme-blue__palette__body--background--greyscale, 50%);


/* darkred theme */
@import (less) './themes/darkred.less';

@web-app-commons__theme-darkred__palette__body--background--greyscale: greyscale(@theme-darkred__palette__body--background);
@web-app-commons__theme-darkred__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-darkred__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-darkred__palette__body--text: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale--invert, @web-app-commons__theme-darkred__palette__body--background--greyscale, 80%);
@web-app-commons__theme-darkred__palette__body--text--invert: difference(@web-app-commons__theme-darkred__palette__body--text, #ffffff);

@web-app-commons__theme-darkred__palette__modal--background: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-darkred__palette__modal--background--dark: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale, 50%);

@web-app-commons__theme-darkred__palette__disabled: mix(@web-app-commons__theme-darkred__palette__body--text, @web-app-commons__theme-darkred__palette__body--background--greyscale, 30%);
@web-app-commons__theme-darkred__palette__subtle: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-darkred__palette__subtler: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-darkred__palette__subtlerer: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-darkred__palette__subtlest: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-darkred__palette__subtle--dark: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-darkred__palette__subtler--dark: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-darkred__palette__subtlest--dark: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-darkred__palette__shadow: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-darkred__palette__shadow--dark: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale, 50%);


/* hotpink theme */
@import (less) './themes/hotpink.less';

@web-app-commons__theme-hotpink__palette__body--background--greyscale: greyscale(@theme-hotpink__palette__body--background);
@web-app-commons__theme-hotpink__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-hotpink__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-hotpink__palette__body--text: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, @web-app-commons__theme-hotpink__palette__body--background--greyscale, 80%);
@web-app-commons__theme-hotpink__palette__body--text--invert: difference(@web-app-commons__theme-hotpink__palette__body--text, #ffffff);

@web-app-commons__theme-hotpink__palette__modal--background: fade(@web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-hotpink__palette__modal--background--dark: fade(@web-app-commons__theme-hotpink__palette__body--background--greyscale, 50%);

@web-app-commons__theme-hotpink__palette__disabled: mix(@web-app-commons__theme-hotpink__palette__body--text, @web-app-commons__theme-hotpink__palette__body--background--greyscale, 30%);
@web-app-commons__theme-hotpink__palette__subtle: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-hotpink__palette__subtler: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-hotpink__palette__subtlerer: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-hotpink__palette__subtlest: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-hotpink__palette__subtle--dark: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-hotpink__palette__subtler--dark: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-hotpink__palette__subtlest--dark: mix(@web-app-commons__theme-hotpink__palette__body--background--greyscale, @web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-hotpink__palette__shadow: fade(@web-app-commons__theme-hotpink__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-hotpink__palette__shadow--dark: fade(@web-app-commons__theme-hotpink__palette__body--background--greyscale, 50%);


/* marine theme */
@import (less) './themes/marine.less';

@web-app-commons__theme-marine__palette__body--background--greyscale: greyscale(@theme-marine__palette__body--background);
@web-app-commons__theme-marine__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-marine__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-marine__palette__body--text: mix(@web-app-commons__theme-marine__palette__body--background--greyscale--invert, @web-app-commons__theme-marine__palette__body--background--greyscale, 80%);
@web-app-commons__theme-marine__palette__body--text--invert: difference(@web-app-commons__theme-marine__palette__body--text, #ffffff);

@web-app-commons__theme-marine__palette__modal--background: fade(@web-app-commons__theme-marine__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-marine__palette__modal--background--dark: fade(@web-app-commons__theme-marine__palette__body--background--greyscale, 50%);

@web-app-commons__theme-marine__palette__disabled: mix(@web-app-commons__theme-marine__palette__body--text, @web-app-commons__theme-marine__palette__body--background--greyscale, 30%);
@web-app-commons__theme-marine__palette__subtle: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-marine__palette__subtler: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-marine__palette__subtlerer: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-marine__palette__subtlest: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-marine__palette__subtle--dark: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-marine__palette__subtler--dark: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-marine__palette__subtlest--dark: mix(@web-app-commons__theme-marine__palette__body--background--greyscale, @web-app-commons__theme-marine__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-marine__palette__shadow: fade(@web-app-commons__theme-marine__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-marine__palette__shadow--dark: fade(@web-app-commons__theme-marine__palette__body--background--greyscale, 50%);


/* muted theme */
@import (less) './themes/muted.less';

@web-app-commons__theme-muted__palette__body--background--greyscale: greyscale(@theme-muted__palette__body--background);
@web-app-commons__theme-muted__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-muted__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-muted__palette__body--text: mix(@web-app-commons__theme-muted__palette__body--background--greyscale--invert, @web-app-commons__theme-muted__palette__body--background--greyscale, 80%);
@web-app-commons__theme-muted__palette__body--text--invert: difference(@web-app-commons__theme-muted__palette__body--text, #ffffff);

@web-app-commons__theme-muted__palette__modal--background: fade(@web-app-commons__theme-muted__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-muted__palette__modal--background--dark: fade(@web-app-commons__theme-muted__palette__body--background--greyscale, 50%);

@web-app-commons__theme-muted__palette__disabled: mix(@web-app-commons__theme-muted__palette__body--text, @web-app-commons__theme-muted__palette__body--background--greyscale, 30%);
@web-app-commons__theme-muted__palette__subtle: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-muted__palette__subtler: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-muted__palette__subtlerer: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-muted__palette__subtlest: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-muted__palette__subtle--dark: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-muted__palette__subtler--dark: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-muted__palette__subtlest--dark: mix(@web-app-commons__theme-muted__palette__body--background--greyscale, @web-app-commons__theme-muted__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-muted__palette__shadow: fade(@web-app-commons__theme-muted__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-muted__palette__shadow--dark: fade(@web-app-commons__theme-muted__palette__body--background--greyscale, 50%);


/* night theme */
@import (less) './themes/night.less';

@web-app-commons__theme-night__palette__body--background--greyscale: greyscale(@theme-night__palette__body--background);
@web-app-commons__theme-night__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-night__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-night__palette__body--text: mix(@web-app-commons__theme-night__palette__body--background--greyscale--invert, @web-app-commons__theme-night__palette__body--background--greyscale, 80%);
@web-app-commons__theme-night__palette__body--text--invert: difference(@web-app-commons__theme-night__palette__body--text, #ffffff);

@web-app-commons__theme-night__palette__modal--background: fade(@web-app-commons__theme-night__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-night__palette__modal--background--dark: fade(@web-app-commons__theme-night__palette__body--background--greyscale, 50%);

@web-app-commons__theme-night__palette__disabled: mix(@web-app-commons__theme-night__palette__body--text, @web-app-commons__theme-night__palette__body--background--greyscale, 30%);
@web-app-commons__theme-night__palette__subtle: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-night__palette__subtler: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-night__palette__subtlerer: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-night__palette__subtlest: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-night__palette__subtle--dark: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-night__palette__subtler--dark: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-night__palette__subtlest--dark: mix(@web-app-commons__theme-night__palette__body--background--greyscale, @web-app-commons__theme-night__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-night__palette__shadow: fade(@web-app-commons__theme-night__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-night__palette__shadow--dark: fade(@web-app-commons__theme-night__palette__body--background--greyscale, 50%);


/* patrolred theme */
@import (less) './themes/patrolred.less';

@web-app-commons__theme-patrolred__palette__body--background--greyscale: greyscale(@theme-patrolred__palette__body--background);
@web-app-commons__theme-patrolred__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-patrolred__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-patrolred__palette__body--text: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, @web-app-commons__theme-patrolred__palette__body--background--greyscale, 80%);
@web-app-commons__theme-patrolred__palette__body--text--invert: difference(@web-app-commons__theme-patrolred__palette__body--text, #ffffff);

@web-app-commons__theme-patrolred__palette__modal--background: fade(@web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-patrolred__palette__modal--background--dark: fade(@web-app-commons__theme-patrolred__palette__body--background--greyscale, 50%);

@web-app-commons__theme-patrolred__palette__disabled: mix(@web-app-commons__theme-patrolred__palette__body--text, @web-app-commons__theme-patrolred__palette__body--background--greyscale, 30%);
@web-app-commons__theme-patrolred__palette__subtle: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-patrolred__palette__subtler: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-patrolred__palette__subtlerer: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-patrolred__palette__subtlest: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-patrolred__palette__subtle--dark: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-patrolred__palette__subtler--dark: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-patrolred__palette__subtlest--dark: mix(@web-app-commons__theme-patrolred__palette__body--background--greyscale, @web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-patrolred__palette__shadow: fade(@web-app-commons__theme-patrolred__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-patrolred__palette__shadow--dark: fade(@web-app-commons__theme-patrolred__palette__body--background--greyscale, 50%);


/* purple theme */
@import (less) './themes/purple.less';

@web-app-commons__theme-purple__palette__body--background--greyscale: greyscale(@theme-purple__palette__body--background);
@web-app-commons__theme-purple__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-purple__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-purple__palette__body--text: mix(@web-app-commons__theme-purple__palette__body--background--greyscale--invert, @web-app-commons__theme-purple__palette__body--background--greyscale, 80%);
@web-app-commons__theme-purple__palette__body--text--invert: difference(@web-app-commons__theme-purple__palette__body--text, #ffffff);

@web-app-commons__theme-purple__palette__modal--background: fade(@web-app-commons__theme-purple__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-purple__palette__modal--background--dark: fade(@web-app-commons__theme-purple__palette__body--background--greyscale, 50%);

@web-app-commons__theme-purple__palette__disabled: mix(@web-app-commons__theme-purple__palette__body--text, @web-app-commons__theme-purple__palette__body--background--greyscale, 30%);
@web-app-commons__theme-purple__palette__subtle: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-purple__palette__subtler: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-purple__palette__subtlerer: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-purple__palette__subtlest: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-purple__palette__subtle--dark: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-purple__palette__subtler--dark: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-purple__palette__subtlest--dark: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-purple__palette__shadow: fade(@web-app-commons__theme-purple__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-purple__palette__shadow--dark: fade(@web-app-commons__theme-purple__palette__body--background--greyscale, 50%);

