<fieldset
		[class.expanded]="this.expanded"
>
	<section title>
		<ng-content select="[commons-expansion-panel-title]"></ng-content>
	</section>
	<section content
			[class.expanded]="this.expanded"
	>
		<ng-content select="[commons-expansion-panel-content]"></ng-content>
	</section>
</fieldset>