@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/speed.less';

@label--height: @materialdesign__font__caption--size + 2px;
@text--height: @materialdesign__font__subheading--size + 5px;

@topgap--height: 5px;	/* 8px the official is too much given natural input font spacing */
@bottomgap--height: 8px;
@helper__gap--height: 7px;

@checkbox--size: 20px;
@icon--width: @checkbox--size + 15px;	/* nicked from checkbox, should really be done properly in sizes.less */

section[container] {
	box-sizing: border-box;
	
	display: block;
	width: 100%;
	height: @label--height + @text--height + @topgap--height + @bottomgap--height;
	
	margin: 15px 0;
	
	position: relative;
	top: 0;
	left: 0;

	&.hasHelper, &.hasError {
		height: (@label--height * 2) + @helper__gap--height + @text--height + @topgap--height + @bottomgap--height;
	}
}

span {
	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size;
	font-weight: @materialdesign__font__subheading--weight;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background: ~"@{theme-@{value}__palette__body--background}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
	});
	
	position: relative;
	top: 3px;
}

span.placeholder {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
	});
}

span.day:after, span.month:after {
	margin-left: 0.2em;
	margin-right: 0.2em;
	content: '/';
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
	});
}
span.year.hasTime {
	margin-right: 0.5em;
}
span.hour:after {
	margin-left: 0.1em;
	margin-right: 0.1em;
	content: ':';
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
	});
}

aside[underline] {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	height: 1px;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-bottom: 1px solid ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		
			&.hasError {
				border-bottom: 1px solid ~"@{theme-@{value}__palette__error}";
			}
			
			&.disabled {
				border-bottom: 1px dashed ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
			
			&.focused {
				border-bottom: 2px solid ~"@{theme-@{value}__palette__primary}";
				
				&.hasError {
					border-bottom-color: ~"@{theme-@{value}__palette__error}";
				}
			}
		}
	});
}

i {
	position: absolute;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
			
			&.disabled {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}" !important;
			}
		}
	});
	
	&[icon] {
		bottom: 0;
		left: 0;
		width: @icon--width;
		
		&.hasError {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}) & {
					color: ~"@{theme-@{value}__palette__error}";
				}
			});
		}
	}
	
	&[clear] {
		top: 0;
		right: 0;
	}
}
section[container].hasHelper, section[container].hasError {
	i[icon] {
		bottom: @label--height + @helper__gap--height + 5px;
	}
}

section[datebox] {
	display: block;
	border: 0;

	position: absolute;
	bottom: 0;
	left: @icon--width;
	width: ~'calc(100% - ' @icon--width ~')';
	height: @text--height + @bottomgap--height;
	
	overflow: hidden;
	margin: 0;
	padding: 0;

	&[disabled] span {
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		});
	}
}
section[container].hasHelper, section[container].hasError {
	section[datebox] {
		bottom: @label--height + @helper__gap--height;
	}
}

label {
	box-sizing: border-box;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size;
	font-weight: @materialdesign__font__caption--weight;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
			&.focused {
				color: ~"@{theme-@{value}__palette__primary}";
			}
			&.hasError {
				color: ~"@{theme-@{value}__palette__error}";
			}
		}
	});

	position: absolute;
	left: @icon--width;
	
	display: block;
	height: @label--height;
	
	&[placeholder] {
		opacity: 0;
		top: @label--height + @topgap--height;
	
		transition: opacity @speed--normal linear, top @speed--normal ease-in-out, font-size @speed--normal ease-in-out, line-height @speed--normal ease-in-out;
	
		&.visible {
			opacity: 1;
			
			font-size: @materialdesign__font__caption--size;
			line-height: @materialdesign__font__caption--size;
			
			top: 0;
		}
	}
	
	&.hasError {
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				color: ~"@{theme-@{value}__palette__error}";
			}
		});
	}
	
	&[helper], &[error] {
		bottom: 0;
	
		font-size: @materialdesign__font__caption--size;
		line-height: @materialdesign__font__caption--size;
		
		&[error] {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}) & {
					color: ~"@{theme-@{value}__palette__error}";
				}
			});
		}
	}
}
