@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/layout.less';

section {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	
	z-index: @web-app-commons__elevation__background;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{theme-@{value}__palette__body--background}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
	});
}
