@charset 'utf8';

@theme-blue__palette__primary: #304ffe;
@theme-blue__palette__primary--light: #7a7cff;
@theme-blue__palette__primary--dark: #0026ca;
@theme-blue__palette__primary--text: #ffffff;

@theme-blue__palette__secondary: #ffc107;
@theme-blue__palette__secondary--light: #fff350;
@theme-blue__palette__secondary--dark: #c79100;
@theme-blue__palette__secondary--text: #000000;

@theme-blue__palette__error: #e63322;
@theme-blue__palette__error--text: #ffffff;

@theme-blue__palette__success: #8bc34a;
@theme-blue__palette__success--text: #000000;

@theme-blue__palette__body--background: #ffffff;
@theme-blue__palette__hyperlink: #1857d6;
