@charset 'utf8';

@theme-darkred__palette__primary: #d50000;
@theme-darkred__palette__primary--light: #ff5131;
@theme-darkred__palette__primary--dark: #9b0000;
@theme-darkred__palette__primary--text: #ffffff;

@theme-darkred__palette__secondary: #ffeb3b;
@theme-darkred__palette__secondary--light: #ffff72;
@theme-darkred__palette__secondary--dark: #c8b900;
@theme-darkred__palette__secondary--text: #000000;

@theme-darkred__palette__error: #e63322;
@theme-darkred__palette__error--text: #ffffff;

@theme-darkred__palette__success: #8bc34a;
@theme-darkred__palette__success--text: #000000;

@theme-darkred__palette__body--background: #212121;
@theme-darkred__palette__hyperlink: #1857d6;
