@charset 'utf8';

@theme-muted__palette__primary: #54637a;
@theme-muted__palette__primary--light: #819ca9;
@theme-muted__palette__primary--dark: #29434e;
@theme-muted__palette__primary--text: #ffffff;

@theme-muted__palette__secondary: #fdd835;
@theme-muted__palette__secondary--light: #ffff6b;
@theme-muted__palette__secondary--dark: #c6a700;
@theme-muted__palette__secondary--text: #000000;

@theme-muted__palette__error: #e63322;
@theme-muted__palette__error--text: #ffffff;

@theme-muted__palette__success: #8bc34a;
@theme-muted__palette__success--text: #000000;

@theme-muted__palette__body--background: #ffffff;
@theme-muted__palette__hyperlink: #1857d6;
