@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

hr {
	border: 0;
	padding-top: 10px;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-bottom: 1px solid ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
	});
}
