@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@chip--height: 32px;

@icon--margin: (@chip--height - @web-app-commons__sizes__icon--diameter--chip) / 2;
@icon--diameter: @web-app-commons__sizes__icon--diameter--chip;

@chip__font--size: @materialdesign__font__body2--size;
@chip__font--weight: @materialdesign__font__body2--weight;

section[chip] {
	display: inline-block;
	box-sizing: border-box;
	height: @chip--height;
	border-radius: @chip--height / 2;
	padding: 0 12px;
	margin: 3px 8px 3px 0;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.unselected {
		/* silly fudges to get around the border expanding the area */
		padding: 0 11px;
	}
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlerer}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
			
			&.unselected {
				background-color: transparent;
				border: 1px solid ~"@{web-app-commons__theme-@{value}__palette__subtler}";
			}
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtler--dark}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
			
			&.unselected {
				background-color: transparent;
				border: 1px solid ~"@{web-app-commons__theme-@{value}__palette__subtler--dark}";
			}
		}
	});

	> label.icon,
	> label.letter,
	> label.image,
	> img.USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG
	{
		float: left;
		display: block;
		box-sizing: border-box;
		width: @icon--diameter;
		height: @icon--diameter;
		border-radius: @icon--diameter / 2;
		margin: @icon--margin 8px @icon--margin -8px;
	
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				@color-default-a: "web-app-commons__theme-@{value}__palette__body--text";
				@color-default-b: "web-app-commons__theme-@{value}__palette__subtle";
				color: mix(@@color-default-a, @@color-default-b, 50%);
			}
			:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
				@color-dark-a: "web-app-commons__theme-@{value}__palette__body--text--invert";
				@color-dark-b: "web-app-commons__theme-@{value}__palette__subtle--dark";
				color: mix(@@color-dark-a, @@color-dark-b, 50%);
			}
		});
		
		&.icon {
			text-align: center;
		}

		&.icon {
			padding-top: 4px;
		}
		
		> i {
			position: relative;
			top: -3px;
			font-size: 22px;
		}
	}

	> label.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	i.cancel {
		float: right;
		font-size: 20px;
		margin: (@icon--margin + 2px) -4px 0 8px;

		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				@color-i-default-a: "web-app-commons__theme-@{value}__palette__body--text";
				@color-i-default-b: "web-app-commons__theme-@{value}__palette__subtle";
				color: mix(@@color-i-default-a, @@color-i-default-b, 50%);
			}
			:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
				@color-i-dark-a: "web-app-commons__theme-@{value}__palette__body--text--invert";
				@color-i-dark-b: "web-app-commons__theme-@{value}__palette__subtle--dark";
				color: mix(@@color-i-dark-a, @@color-i-dark-b, 50%);
			}
		});
	}	

	img.USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG {
		object-fit: cover;
	}
}

span[content] {
	font-family: @materialdesign__font__family;
	font-size: @chip__font--size;
	line-height: @chip__font--size * @web-app-commons__paragraph__text--lineheight--ratio;
	font-weight: @chip__font--weight;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	position: relative;
	top: ((@chip--height - (@chip__font--size * @web-app-commons__paragraph__text--lineheight--ratio)) / 2) + 1px;
}

section[chip].unselected {
	span[content] {
		top: ((@chip--height - (@chip__font--size * @web-app-commons__paragraph__text--lineheight--ratio)) / 2);
	}
}
