@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/sizes.less';

@height: 64px;	/* just a nice figure, not MD specific */
@title--top: 21px;

:host {
	/* this is actually a clever inline method (only section is fixed) to add subsequent padding and push the page content down. */
	display: block;
	width: 100%;
	height: @height + (@web-app-commons__sizes__icon--diameter / 2);
	margin: 0;
	padding: 0;
}

section {
	position: fixed;
	top: @web-app-commons__sizes__toolbar--height;
	left: 0;
	right: 0;
	width: 100%;
	height: @height;
	
	z-index: 100;

	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value} :host & {
			box-shadow: 0 6px 10px -5px ~"@{web-app-commons__theme-@{value}__palette__modal--background}";
			background-color: ~"@{theme-@{value}__palette__primary}";
			color: ~"@{theme-@{value}__palette__primary--text}";
		}
	});
}

p {
	position: absolute;
	bottom: 15px;
	left: 0;
	
	display: block;
	margin: 0 0 0 (20px + @web-app-commons__sizes__icon--diameter + 15px);
	padding: 0;
	box-sizing: border-box;
	
	font-family: @materialdesign__font__family;
	font-weight: @materialdesign__font__headline--weight;
	font-size: @materialdesign__font__headline--size;
	line-height: @materialdesign__font__headline--size;
}

button {
	z-index: 110;
	position: fixed;
	cursor: pointer;
	
	top: @web-app-commons__sizes__toolbar--height + @height - (@web-app-commons__sizes__icon--diameter / 2) - @web-app-commons__sizes__icon--margin;
	left: 20px - @web-app-commons__sizes__icon--margin;
}
