<section>
	<p><ng-content></ng-content></p>
</section>
<button commons-button
		class="filled secondary icon"
		[disabled]="this.disabled"
		(click)="this.doAdd()"
>
	<i class="material-icons">add</i>
</button>