@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';

@height: @web-app-commons__sizes__details--height;
@font--size: @materialdesign__font__subheading--size;

:host {
	display: block;
	margin: 0;
	padding: 0;
	float: left;

	box-sizing: border-box;
	height: @height;
	
	width: @web-app-commons__sizes__details__label--width;
}

label {
	position: relative;
	top: 0;

	box-sizing: border-box;
	height: @height;
	
	width: @web-app-commons__sizes__details__label--width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	float: left;
	font-family: @materialdesign__font__family;
	font-size: @font--size;
	font-weight: 400;
	line-height: @font--size;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
	});
	
	padding-top: (@height - @font--size) / 2;
	
	i {
		float: left;
		width: 40px;
		
		position: relative;
		top: -(@height - @font--size) / 2;
		padding-top: (@height - 24px) / 2;
	}
}

:host.compact {
	width: @web-app-commons__sizes__details__label__compact--width;
	
	label {
		width: @web-app-commons__sizes__details__label__compact--width;
	}
}
