<section container>
	<span filler></span>
	
	<span rows>
		<label for="rows">Rows per page</label>
		<commons-textbox class="compact inline"
				[options]="[ '5', '10', '15', '20' ]"
				[optionsOnly]="true"
				[clearable]="false"
				[(value)]="this.internalRows"
				(valueChange)="this.doChangeRows();"
		></commons-textbox>
	</span>
	<span pagination>
		<ng-container *ngIf="this.from !== undefined && this.total !== undefined">
			{{ this.from + 1 }}&ndash;{{ (this.from + this.rows) >= this.total ? this.total : (this.from + this.rows) }} of {{ this.total }}
		</ng-container>
	</span>
	<i class="material-icons first"
			[class.disabled]="!this.canBack"
			(click)="this.onFirst.emit();"
	>first_page</i>
	<i class="material-icons"
			[class.disabled]="!this.canBack"
			(click)="this.onBack.emit();"
	>chevron_left</i>
	<i class="material-icons"
			[class.disabled]="!this.canForward"
			(click)="this.onForward.emit();"
	>chevron_right</i>
	<i class="material-icons"
			[class.disabled]="!this.canForward"
			(click)="this.onLast.emit();"
	>last_page</i>
</section>
