@hard-vertical-padding: 6px;
@fluid-vertical-padding: 56px - (@hard-vertical-padding * 2);

:host {
	display: grid;
	box-sizing: content-box;
	padding: @hard-vertical-padding 0;
	
	grid-auto-columns: auto;
	grid-template-rows: @fluid-vertical-padding;
	align-items: center;
}

td {
	display: block;
	box-sizing: border-box;
	padding: 0 16px;
	
	commons-checkbox {
		position: relative;
		top: 2px;
	}
}
