@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

@gap--vertical: 5px;

@height--item: (@materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio) + (2 * @gap--vertical);
@items: 5;

section {
	position: relative;
	top: 0;
	left: 0;
	
	width: 100%;
	height: @height--item * @items;
	
	overflow: hidden;
}

aside {
	display: block;
	box-sizing: border-box;

	width: 100%;
	height: (@materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio) + (2 * @gap--vertical);

	position: absolute;
	top: ((@items - 1) / 2) * @height--item;
	left: 0;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-top: 2px solid ~"@{theme-@{value}__palette__secondary}";
			border-bottom: 2px solid ~"@{theme-@{value}__palette__secondary}";
		}
	});
	
	z-index: -99;
}

ul {
	box-sizing: border-box;
	position: absolute;
	left: 0;

	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 99;

	li {
		z-index: 99;
	
		box-sizing: border-box;
		
		margin: 0;
		padding: @gap--vertical 0;

		height: (@materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio) + (2 * @gap--vertical);
		
		font-family: @materialdesign__font__family;
		line-height: @materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio;
		font-weight: @materialdesign__font__headline--weight;
		font-size: @materialdesign__font__headline--size;
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
				
				&.selected {
					color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
				}
			}
		});
	}
}

:host.right ul li {
	text-align: right;
}
:host.center ul li {
	text-align: center;
}
