<section #section>
<aside #aside></aside>
<ul
		[style.top.px]="this.px"
>
	<li *ngFor="let item of this.items; let i = index"
			(mousedown)="this.doMouseDown();"
			(press)="this.doMouseDown();"
			(panstart)="this.doPanStart($event);"
			(panmove)="this.doPanMove($event);"
			(panend)="this.doPanEnd($event);"
	>{{item}}</li>
	<li *ngFor="let item of this.items; let i = index"
			oncontextmenu="return false"
			[class.selected]="this.isSelected(i)"
			(mousedown)="this.doMouseDown();"
			(press)="this.doMouseDown();"
			(panstart)="this.doPanStart($event);"
			(panmove)="this.doPanMove($event);"
			(panend)="this.doPanEnd($event);"
	>{{item}}</li>
	<li *ngFor="let item of this.items; let i = index"
			(mousedown)="this.doMouseDown();"
			(press)="this.doMouseDown();"
			(panstart)="this.doPanStart($event);"
			(panmove)="this.doPanMove($event);"
			(panend)="this.doPanEnd($event);"
	>{{item}}</li>
</ul>
</section>
