@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@icon--diameter: @web-app-commons__sizes__icon--diameter;
@icon--margin: @web-app-commons__sizes__icon--margin;
@icon--diameter--small: @web-app-commons__sizes__icon--diameter--small;

@details__font--size: @materialdesign__font__title--size;
@details__font--size--compact: @materialdesign__font__subheading--size;
@details__font--size--small: @materialdesign__font__body1--size;
@letter__font--size: @materialdesign__font__headline--size;
@label__font--size: @materialdesign__font__caption--size;

:host {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
	padding: 0;
	
	list-style: none;

	&.small {
		margin-top: 6px;
		margin-bottom: 6px;
	}
	
	&.compact {
		margin-top: 0;
		margin-bottom: 0;
	}
}

section[item] {
	display: block;
	box-sizing: border-box;
	width: 100%;

	> label,
	> img.USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG
	{
		float: left;
	
		display: grid;
		box-sizing: border-box;
		width: @icon--diameter;
		height: @icon--diameter;
		margin: @icon--margin 15px @icon--margin 0;
		
		align-items: center;
		justify-items: center;

		border-radius: @icon--diameter / 2;
	
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__subtler}";
				color: ~"@{theme-@{value}__palette__primary--text}";
			}
		});

		:host.small & {
			width: @icon--diameter--small;
			height: @icon--diameter--small;
			
			border-radius: @icon--diameter--small / 2;

			margin: @icon--margin 10px @icon--margin 0;
		}

		&.letter {
			font-family: @materialdesign__font__family;
			font-size: @letter__font--size;
			font-weight: 400;
		}
		
		i.mdi, i.material-icons {
			display: block;
			width: 24px;
			height: 24px;
			line-height: 1em;
			font-size: 24px;
		}
	}

	> label {
		&.image {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	
	img.USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG {
		object-fit: cover;
	}
}

each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value}).inverted section[item] > label {
		color: ~"@{web-app-commons__theme-@{value}__palette__subtler}";
		background-color: transparent;
	}
	:host-context(body.webappcommons-theme-@{value}).primary section[item] > label {
		background-color: ~"@{theme-@{value}__palette__primary}";
		color: ~"@{theme-@{value}__palette__primary--text}";
	}
	:host-context(body.webappcommons-theme-@{value}).primary.inverted section[item] > label {
		color: ~"@{theme-@{value}__palette__primary}";
		background-color: transparent;
	}
	:host-context(body.webappcommons-theme-@{value}).secondary section[item] > label {
		background-color: ~"@{theme-@{value}__palette__secondary}";
	}
	:host-context(body.webappcommons-theme-@{value}).secondary.inverted section[item] > label {
		color: ~"@{theme-@{value}__palette__secondary}";
		background-color: transparent;
	}
	:host-context(body.webappcommons-theme-@{value}).error section[item] > label {
		background-color: ~"@{theme-@{value}__palette__error}";
		color: ~"@{theme-@{value}__palette__error--text}";
	}
	:host-context(body.webappcommons-theme-@{value}).error.inverted section[item] > label {
		color: ~"@{theme-@{value}__palette__error}";
		background-color: transparent;
	}
	:host-context(body.webappcommons-theme-@{value}).success section[item] > label {
		background-color: ~"@{theme-@{value}__palette__success}";
		color: ~"@{theme-@{value}__palette__success--text}";
	}
	:host-context(body.webappcommons-theme-@{value}).success.inverted section[item] > label {
		color: ~"@{theme-@{value}__palette__success}";
		background-color: transparent;
	}
});

section[details] {
	width: ~'calc(100% - (15px + ' @icon--margin ~' + ' @icon--diameter ~'))';
	float: left;

	:host.small & {
		width: ~'calc(100% - (10px + ' @icon--margin ~' + ' @icon--diameter--small ~'))';
	}
	
	p {
		margin: 0;
		padding: 0;
		
		font-family: @materialdesign__font__family;
		font-size: @details__font--size;
		line-height: @details__font--size * @web-app-commons__paragraph__text--lineheight--ratio;
		font-weight: 500;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		:host.small & {
			font-size: @details__font--size--small;
			line-height: @details__font--size--small * @web-app-commons__paragraph__text--lineheight--ratio;
			font-weight: 400;
		}
	}
	
	time, label {
		display: inline-block;
		font-family: @materialdesign__font__family;
		font-size: @label__font--size;
		line-height: @label__font--size;
		font-weight: 400;
		height: @label__font--size * 1.17;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		:host.singular & {
			display: none;
			height: 0;
		}
	}

	time {
		:host.no-time & {
			display: none;
		}
	}
	
	label {
		max-width: ~'calc(100%)';
		
		:host.no-label & {
			display: none;
		}
	}
	
	label {
		margin-right: 1em;
		
		:host.no-time &,
		:host.no-label & {
			margin-right: 0;
		}
	}
}

div.clear {
	clear: both;
}

:host.singular {
	label, time {
		display: none;
	}
	
	section[details] p {
		margin-top: (@icon--diameter - (@details__font--size * @web-app-commons__paragraph__text--lineheight--ratio)) / 2;
		
		:host.small & {
			margin-top: (@icon--diameter - (@details__font--size--small * @web-app-commons__paragraph__text--lineheight--ratio)) / 2;
		}
	}
}

each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value}.theme-light) section[item] {
		section[details] {
			p {
				color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
			}
			time, label {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
			}
		}
	}
	
	:host-context(body.webappcommons-theme-@{value}.theme-dark) section[item] {
		section[details] {
			p {
				color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
			}
			time, label {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
			}
		}
	}
});

section[item] > label.wait-rotate {
	background-color: transparent !important;
}
