@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@padding--top: 15px;

section {
	font-family: @materialdesign__font__family;
	font-weight: @materialdesign__font__subheading--weight;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size;

	white-space: pre;
	
	margin: 0;
	
	height: @materialdesign__font__subheading--size + (@padding--top * 2);
	box-sizing: border-box;
	
	padding: @padding--top 10px;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__body--background}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
			
			> span.pre {
				border-right: 2px solid ~"@{theme-@{value}__palette__secondary}";
				margin-right: -2px;
			}
			
			> span > span {
				padding-left: 1px;
			}
		}
	});
}
