@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';

@title--top: 17px;

.generate-tab-widths(@n, @i: 0) when (@i < @n) {
	section.numberOfTabs-@{i} {
		width: 100% / @i;
	}
	.generate-tab-widths(@n, (@i + 1));
}

section {
	display: block;
	box-sizing: border-box;
	float: left;
	
	height: @web-app-commons__sizes__tabbar--height;
	padding: @title--top 0 0 0;
	
	font-family: @materialdesign__font__family;
	font-weight: @materialdesign__font__subheading--weight;
	font-size: @materialdesign__font__body2--size;
	line-height: @materialdesign__font__body2--size;
	
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	
	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value} :host & {
			@color-a: "theme-@{value}__palette__primary--text";
			color: fade(@@color-a, 60%);
		}
		body.webappcommons-theme-@{value} :host.unfilled & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
	});

	label {
		margin-left: 0.5em;
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
}

:host.unfilled section {
	font-weight: @materialdesign__font__body2--weight;
}

:host[disabled] section {
	pointer-events: none;
}

section {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).selected & {
			border-bottom: 3px solid ~"@{theme-@{value}__palette__secondary}";
			color: ~"@{theme-@{value}__palette__primary--text}";
		}

		:host-context(body.webappcommons-theme-@{value})[disabled] & {
			@color-a: "theme-@{value}__palette__primary--text";
			color: fade(@@color-a, 25%);
		}

		:host-context(body.webappcommons-theme-@{value}).selected.unfilled & {
			border-bottom: 3px solid ~"@{theme-@{value}__palette__primary}";
			color: ~"@{theme-@{value}__palette__primary}";
		}

		:host-context(body.webappcommons-theme-@{value})[disabled].unfilled & {
			color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
		}
	});
}

.generate-tab-widths(10);

:host ::ng-deep i.material-icons {
	position: relative;
	top: -5px;
}
