@charset 'utf8';

@import (less) '../../less/common/palette.less';

@padding--vertical: 10px;

section {
	display: block;
	margin: 0;
	padding: 0;
	
	width: 80vw;
	max-width: 300px;
	height: 100vh;
	
	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value}.theme-light :host & {
			background-color: ~"@{theme-@{value}__palette__body--background}";
		}
		body.webappcommons-theme-@{value}.theme-dark :host & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
	});
}

menu {
	display: block;
	box-sizing: border-box;

	margin: 0;
	padding: @padding--vertical 0;
}
