<section
		[class.expanded]="this.expanded"
		(click)="this.doToggle()"
>
	<i class="material-icons"
			[class.rotate]="this.expanded"
	>expand_more</i>
	<label><ng-content select="[title]"></ng-content></label>
	<span><ng-content select="[description]"></ng-content></span>
</section>
