@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/speed.less';

@height--collapsed: 48px;
@height--expanded: 64px;

:host {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	display: block;
	box-sizing: border-box;

	margin: 0;
	height: @height--collapsed;
	
	padding-top: (@height--collapsed - (@materialdesign__font__body2--size * @web-app-commons__paragraph__text--lineheight--ratio)) / 2;

	&.expanded {
		height: @height--expanded;
		padding-top: (@height--expanded - (@materialdesign__font__body2--size * @web-app-commons__paragraph__text--lineheight--ratio)) / 2;
	}
	
	transition: 
			height @speed--normal ease-in-out,
			padding-top @speed--normal ease-in-out;
}

label, span {
	display: inline-block;

	font-family: @materialdesign__font__family;
}

label {
	min-width: 100px;
	
	font-weight: @materialdesign__font__body2--weight;
	font-size: @materialdesign__font__body2--size;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
	});
}

span {
	font-weight: @materialdesign__font__body1--weight;
	font-size: @materialdesign__font__body1--size;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
		}
	});
}

i {
	float: right;
	position: relative;
	top: -2px;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
		}
	});
	
	transform: rotate(0);
	
	&.rotate {
		transform: rotate(180deg);
	}
	
	transition: transform @speed--normal ease-in-out;
}
