@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';

@height: 180px;
@avatar--diameter: 110px;
@background--blur: 20px;
@background--blur--subtle: 8px;
@background--blur--subtlest: 2px;

section {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	box-sizing: border-box;
	width: 100%;
	height: @height;
	
	margin: 0;
	padding: 0;

	overflow: hidden;

	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value} :host & {
			background-color: ~"@{theme-@{value}__palette__primary--light}";
			
			&.bw {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			}
		}
	});
	
	div[fade] {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 110px;
		
		each(@web-app-commons__themes, {
			body.webappcommons-theme-@{value} :host & {
				@color-a: "web-app-commons__theme-@{value}__palette__modal--background";
				background: fade(@@color-a, 55%);
			}

			body.webappcommons-theme-@{value} :host.subtle-fade & {
				@color-a: "web-app-commons__theme-@{value}__palette__modal--background";
				background: fade(@@color-a, 15%);
			}
		});
	}

	h1, h2 {
		position: absolute;
		left: 20px;
		
		/* this is needed so that the overflow: hidden doesn't cut the shadow */
		margin: -15px;
		padding: 15px;
		
		font-family: @materialdesign__font__family;
		
		each(@web-app-commons__themes, {
			body.webappcommons-theme-@{value} :host & {
				color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
				
				@color-a: "web-app-commons__theme-@{value}__palette__modal--background";
				text-shadow: 0 0 15px fade(@@color-a, 60%);
			}

			body.webappcommons-theme-@{value} :host.subtle-fade & {
				@color-a: "web-app-commons__theme-@{value}__palette__modal--background";
				text-shadow: 0 0 15px fade(@@color-a, 20%);
			}
		});
		
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: ~'calc(100% - (20px * 2))';
	}

	h1 {
		bottom: 40px;
		
		font-size: @materialdesign__font__display3--size;
		font-weight: @materialdesign__font__display3--weight;
		line-height: @materialdesign__font__display3--size * 1.2;
		
		font-weight: 300;
	}

	h2 {
		bottom: 10px;
		
		font-size: @materialdesign__font__headline--size;
		font-weight: @materialdesign__font__headline--weight;
		line-height: @materialdesign__font__headline--size * 1.2;
	}
}

div[background], div[avatar] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	position: absolute;
}	

div[background] {
	top: 0;
	left: 0;

	width: 100%;
	height: @height;
	
	&.hasAvatar {
		opacity: 0.8;
	}
}

:host.blur {
	div[background] {
		top: -@background--blur * 2;
		left: -@background--blur * 2;
	
		width: ~'calc(100% + (' @background--blur ~' * 4))';
		height: @height + (@background--blur * 4);

		-webkit-filter: blur(@background--blur);
		filter: blur(@background--blur);
	}
	
	&.subtle-blur {
		div[background] {
			-webkit-filter: blur(@background--blur--subtle);
			filter: blur(@background--blur--subtle);
		}
	}
	
	&.subtlest-blur {
		div[background] {
			-webkit-filter: blur(@background--blur--subtlest);
			filter: blur(@background--blur--subtlest);
		}
	}
}

div[avatar] {
	display: block;
	padding: 0;

	top: 25px;
	left: 20px;
	
	width: @avatar--diameter;
	height: @avatar--diameter;
	border-radius: @avatar--diameter / 2;

	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value} :host & {
			@color-a: "web-app-commons__theme-@{value}__palette__modal--background";
			box-shadow: 0 0 25px 2px fade(@@color-a, 10%);
		}
	});
	
	&.icon {
		display: grid;
		justify-content: center;
		align-content: center;
	}
	
	i.material-icons,
	i.material-icons-3,
	i.mdi {
		font-size: @avatar--diameter * 0.7;
	}
}

div[text] {
	position: absolute;
	top: 10px;
	left: 10px;
}
