<section
		[class.bw]="this.background && this.avatar"
>
	<div background *ngIf="this.background"
			[class.hasAvatar]="this.avatar"
			[style.background-image]="'url(' + this.background + ')'"
	></div>
	<div background *ngIf="this.useContentBackground"
			[class.hasAvatar]="this.avatar"
	><ng-content select="[background]"></ng-content></div>
	
	<div fade *ngIf="this.fade"></div>
	<div avatar *ngIf="this.getUrlAvatar() !== undefined"
			[style.background-image]="'url(' + this.getUrlAvatar() + ')'"
	></div>
	<div avatar class="icon" *ngIf="this.isIconAvatar()"
			[style.background-color]="this.getAvatar().background"
			[style.color]="this.getAvatar().foreground"
	>
		<ng-container [ngSwitch]="this.getIconSet()">
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{this.getAvatar().icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{this.getAvatar().icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
					[class]="'mdi mdi-' + this.getAvatar().icon"
			></i>
		</ng-container>
	</div>
	<h1 *ngIf="this.text">{{this.text}}</h1>
	<h2>
		<ng-container *ngIf="this.useContentBackground; else normal">
			<ng-content select="[caption]"></ng-content>
		</ng-container>
		<ng-template #normal>
			<ng-content></ng-content>
		</ng-template>
	</h2>
</section>
