@charset 'utf8';

@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

@size: 230px;
@center: 10px;
@dragger: 36px;
@line: 3px;
@inset: 10px;

section {
	display: block;
	box-sizing: border-box;
}

section[body] {
	position: relative;
	top: 0;
	left: 0;
	
	width: @size;
	height: @size;
	border-radius: @size / 2;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
	});
}

section[rotator] {
	position: absolute;
	top: (@size - @dragger) / 2;
	left: 0;
	
	width: @size;
	height: @dragger;
	
	[lineout] {
		position: absolute;
		top: (@dragger - @line) / 2;
		left: (@dragger / 2) + @inset;
		width: ((@size - @dragger) / 2) - @inset;
		height: @line;

		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{theme-@{value}__palette__primary}";
			}
		});
	}
	
	[dragger] {
		position: absolute;
		top: 0;
		left: @inset;
		width: @dragger;
		height: @dragger;
		border-radius: @dragger / 2;

		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{theme-@{value}__palette__primary}";
				color: ~"@{theme-@{value}__palette__body--background}";
			}
		});

		text-align: center;
		
		font-family: @materialdesign__font__family;
		line-height: @materialdesign__font__body1--size;
		font-weight: @materialdesign__font__body1--weight;
		font-size: @materialdesign__font__body1--size;
		
		padding-top: (@dragger - @materialdesign__font__body1--size) / 2;
	}
}

section[center] {
	position: absolute;
	top: (@size - @center) / 2;
	left: (@size - @center) / 2;
	
	width: @center;
	height: @center;
	border-radius: @center / 2;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__primary}";
		}
	});
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		position: absolute;
	
		display: block;
		width: 50px;
		height: @materialdesign__font__body1--size;
		
		text-align: center;
		
		font-family: @materialdesign__font__family;
		line-height: @materialdesign__font__body1--size;
		font-weight: @materialdesign__font__body1--weight;
		font-size: @materialdesign__font__body1--size;
	}
}
