@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/layout.less';

@font__size: @materialdesign__font__display1--size;
@font__weight: @materialdesign__font__display1--weight;

aside {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__modal--background}";
		}
	});
	
	z-index: @web-app-commons__elevation__scrolling-topmost;
	
	:host[full] & {
		z-index: @web-app-commons__elevation__scrimmed-topmost;
	}
}

commons-wait-rotate {
	position: fixed;
	top: ~'calc(50vh - 60px)';
	left: ~'calc(50vw - 60px)';
	width: 120px;
	height: 120px;
}

div.icon {
	position: fixed;
	top: ~'calc(50vh - ' (@font__size / 2) ~')';
	left: 0;
	width: 100%;
	text-align: center;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
	});
	
	i {
		font-size: @font__size;
		line-height: @font__size;
	}
}

div.message {
	position: fixed;
	top: ~'calc(50vh + 20vmin)';
	left: 0;
	width: 100%;
	text-align: center;

	font-family: @materialdesign__font__family;
	font-weight: @font__weight;
	font-size: @font__size;
	line-height: @font__size;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
	});
}

div.cancel {
	position: fixed;
	top: ~'calc(50vh + 20vmin + ' @font__size ~' + 20px)';
	left: 0;
	width: 100%;
	text-align: center;

	font-family: @materialdesign__font__family;
	font-weight: @font__weight;
	font-size: @font__size;
	line-height: @font__size;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
	});
}
