<aside>
	<div *ngIf="this.icon" class="icon"><i class="material-icons">{{this.icon}}</i></div>
	<commons-wait-rotate
			[class.rainbow]="this.rainbow"
	></commons-wait-rotate>
	<div *ngIf="this.message" class="message">{{this.message}}</div>
	<div *ngIf="this.cancel" class="cancel"><button commons-button class="raised"
			(click)="this.doCancel();"
	>Cancel</button></div>
</aside>
