@import (less) '../../less/common/fonts.less';

:host {
	display: block;
	text-align: left;
	box-sizing: border-box;
	padding: 0 16px;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	font-family: @materialdesign__font__family;
	font-weight: @materialdesign__font__body2--weight;
	font-size: @materialdesign__font__body2--size;
	line-height: @materialdesign__font__body2--size * @web-app-commons__paragraph__text--lineheight--ratio;
}
