@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/speed.less';

@width: 38px;
@height: 24px;
@bar--height: 14px;
@dragger--diameter: 20px;

@pressed--diameter: 35px;

@pressed--pad: @pressed--diameter - @dragger--diameter;

section {
	display: block;
	width: 100%;
	height: @height;
	box-sizing: border-box;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size;
	
	padding-top: (@height - @materialdesign__font__subheading--size) / 2;
	margin: 20px 0;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
		}
	});

	aside[switch] {
		display: block;
		box-sizing: border-box;
		width: @width;
		height: @height;
		
		position: relative;
		top: -((@height - @materialdesign__font__subheading--size) / 2); /* undo the padding without having to use position absolute */
		left: 0;
		float: right;
	}

	aside[bar] {
		position: absolute;
		top: (@height - @bar--height) / 2;
		left: (@dragger--diameter - @bar--height) / 2;
		width: @width - (@dragger--diameter - @bar--height);
		height: @bar--height;
		border-radius: @bar--height / 2;
		
		transition: background-color @speed--normal linear;

		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}.theme-light) & {
				@color-a: "web-app-commons__theme-@{value}__palette__body--text";
				background-color: fade(@@color-a, 38%);
			}
			:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
				@color-a: "web-app-commons__theme-@{value}__palette__body--text--invert";
				background-color: fade(@@color-a, 38%);
			}
		});
	}
	
	aside[dragger] {
		position: absolute;
		top: (@height - @dragger--diameter) / 2;
		left: 0;

		width: @dragger--diameter;
		height: @dragger--diameter;
		border-radius: @dragger--diameter / 2;
		
		transition: background-color @speed--normal linear, left @speed--normal ease-in-out;

		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}.theme-light) & {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
				box-shadow: 0.7px 1px 5px -0.3px ~"@{web-app-commons__theme-@{value}__palette__shadow}";
			}
			:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
				box-shadow: -0.7px -1px 5px -0.3px ~"@{web-app-commons__theme-@{value}__palette__shadow--dark}";
			}
		});
	}
	
	aside[pressed] {
		position: absolute;
		top: ((@height - @dragger--diameter) / 2) - @pressed--pad;
		left: -@pressed--pad;

		width: @dragger--diameter + (@pressed--pad * 2);
		height: @dragger--diameter + (@pressed--pad * 2);
		border-radius: (@dragger--diameter + (@pressed--pad * 2)) / 2;
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{theme-@{value}__palette__secondary}";
			}
		});
		
		opacity: 0;
		transition: opacity @speed--normal ease-in-out, background-color @speed--normal linear, left @speed--normal ease-in-out;
		
		&.active {
			opacity: 0.2;
		}
	}
	
	&.on {
		aside[bar] {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}.theme-light) & {
					@color-a: "theme-@{value}__palette__primary";
					background-color: fade(@@color-a, 50%);
				}
				:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
					@color-a: "theme-@{value}__palette__primary";
					background-color: fade(@@color-a, 50%);
				}
			});
		}
		
		aside[dragger] {
			left: @width - @dragger--diameter;	/* use this rather than left:auto right:0 so that the transition works */

			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}.theme-light) & {
					background-color: ~"@{theme-@{value}__palette__primary}";
				}
				:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
					background-color: ~"@{theme-@{value}__palette__primary}";
				}
			});
		}
		
		aside[pressed] {
			left: @width - @dragger--diameter - @pressed--pad;
		}
	}
	
	&.disabled {
		aside[bar] {
			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}.theme-light) & {
					@color-a: "web-app-commons__theme-@{value}__palette__body--text";
					background-color: fade(@@color-a, 12%);
				}
				:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
					@color-a: "web-app-commons__theme-@{value}__palette__body--text--invert";
					background-color: fade(@@color-a, 12%);
				}
			});
		}
		
		aside[dragger] {
			left: 0;
			box-shadow: none;

			each(@web-app-commons__themes, {
				:host-context(body.webappcommons-theme-@{value}.theme-light) & {
					background-color: ~"@{web-app-commons__theme-@{value}__palette__subtler}";
				}
				:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
					background-color: ~"@{web-app-commons__theme-@{value}__palette__subtler--dark}";
				}
			});
		}
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}.theme-light) & {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
			:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		});
	}
}
