@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@height: 43px;
@margin: 4px;

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size;
	font-weight: 500;
	
	box-sizing: border-box;
	padding: 0;
	
	width: 100%;
	height: @height;
	min-width: 0;
	overflow: hidden;
	
	border: 0;
	border-radius: 2px;
	
	margin: 0;
	
	outline: none;	/* remove the click outline */
	
	&.space {
		margin: 10px 0;
		height: @height - (10px * 2);
	}
		
	&.set {
		padding-top: 1px;
		font-size: @materialdesign__font__body1--size;
		font-weight: 500;
	}
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: transparent;
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
			
			&.secondary {
				color: ~"@{theme-@{value}__palette__secondary}";
			}
		
			&:active {
				background-color: ~"@{theme-@{value}__palette__secondary}";
				color: ~"@{theme-@{value}__palette__secondary--text}";
			}
			
			&:disabled {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
				
				&.disableThemeInvert {
					@color-a: "web-app-commons__theme-@{value}__palette__modal--background";
					@color-b: "web-app-commons__theme-@{value}__palette__disabled";
					
					color: mix(@@color-a, @@color-b, 50%);
				}
			}
			
			&.space {
				background: ~"@{web-app-commons__theme-@{value}__palette__subtler}";
		
				&:active {
					background: ~"@{theme-@{value}__palette__secondary}";
				}
			}
		}
	});
}
