<button
		[class]="'keyboard columns-' + this.maxColumns"
		[class.span2]="this.key.span === 2"
		[class.span3]="this.key.span === 3"
		[class.span4]="this.key.span === 4"
		[class.space]="this.key.space"
		[class.set]="this.key.set"
		[class.secondary]="this.key.ok"
		[class.disableThemeInvert]="this.disableThemeInvert"
		[disabled]="this.disabled"
		(click)="this.doClick()"
>
	<i *ngIf="this.key.icon" class="material-icons">{{this.key.icon}}</i>
	<ng-container *ngIf="this.key.set">{{this.setLabels[this.key.set]}}</ng-container>
	<ng-container *ngIf="this.key.character !== undefined">{{this.key.character}}</ng-container>
</button>
