@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

@item--height: 40px;
@padding--horizontal: 16px;

@icon--size: @materialdesign__icons__normal--size;

@item__padding--vertical: 10px;
@item__icon--width: 40px;
@item__icon__padding--vertical: -6px;

li {
	display: block;
	box-sizing: border-box;

	width: 100%;
	padding: @item__padding--vertical @padding--horizontal;
	height: @item--height;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	cursor: pointer;
	[disabled] {
		cursor: inherit;
	}
	
	text-decoration: none;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	font-weight: @materialdesign__font__subheading--weight;
	line-height: @materialdesign__font__subheading--size;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
		
		:host-context(body.webappcommons-theme-@{value}) & {
			&[disabled] {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		}
	});
	
	::ng-deep i {
		display: block;
		float: left;
		width: @item__icon--width;
		font-size: @icon--size;
		line-height: @icon--size;
		
		position: relative;
		top: (@materialdesign__font__subheading--size - @icon--size) / 2;
		
		&.filler {
			height: @item--height;
		}
	}

	::ng-deep a {
		text-decoration: none;
		font-family: @materialdesign__font__family;
		font-size: @materialdesign__font__subheading--size;
		font-weight: @materialdesign__font__subheading--weight;
		line-height: @materialdesign__font__subheading--size;
	}
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & ::ng-deep a {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & ::ng-deep a {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
		
		:host-context(body.webappcommons-theme-@{value}) & {
			span.none {
				color: ~"@{web-app-commons__theme-@{value}__palette__subtler}";
			}
		}
	});
}
