<section>
	<p><ng-content></ng-content></p>
</section>
<aside buttons>
	<button commons-button *ngFor="let action of this.list(false)"
			class="raised icon small"
			[disabled]="action.disabled"
			(click)="this.doAction(action.action)"
	>
		<i class="material-icons">{{action.icon}}</i>
	</button>
	<button commons-button *ngFor="let action of this.list(true)"
			class="filled secondary icon"
			[disabled]="action.disabled"
			(click)="this.doAction(action.action)"
	>
		<i class="material-icons">{{action.icon}}</i>
	</button>
</aside>