@charset 'utf8';

@theme-alise__palette__primary: #ef6ab3;
@theme-alise__palette__primary--light: #ff9ce5;
@theme-alise__palette__primary--dark: #ba3783;
@theme-alise__palette__primary--text: #ffffff;

@theme-alise__palette__secondary: #9debef;
@theme-alise__palette__secondary--light: #d0ffff;
@theme-alise__palette__secondary--dark: #6bb8bd;
@theme-alise__palette__secondary--text: #000000;

@theme-alise__palette__error: #e63322;
@theme-alise__palette__error--text: #ffffff;

@theme-alise__palette__success: #8bc34a;
@theme-alise__palette__success--text: #000000;

@theme-alise__palette__body--background: #ffffff;
@theme-alise__palette__hyperlink: #ba3783;
