@charset 'utf8';

@theme-welsafe__palette__primary: #2994ae;
@theme-welsafe__palette__primary--light: #65c5e0;
@theme-welsafe__palette__primary--dark: #00667f;
@theme-welsafe__palette__primary--text: #ffffff;

@theme-welsafe__palette__secondary: #b4d8ea;
@theme-welsafe__palette__secondary--light: #e7ffff;
@theme-welsafe__palette__secondary--dark: #83a7b8;
@theme-welsafe__palette__secondary--text: #000000;

@theme-welsafe__palette__error: #e63322;
@theme-welsafe__palette__error--text: #ffffff;

@theme-welsafe__palette__success: #8bc34a;
@theme-welsafe__palette__success--text: #000000;

@theme-welsafe__palette__body--background: #ffffff;
@theme-welsafe__palette__hyperlink: #2994ae;
