@charset 'utf8';

@import (less) '../../less/sizes.less';
@import (less) '../../less/common/fonts.less';

@icons__status--width: 24px;
@icons__status--gap: 13px;

:host {
	float: left;
	width: @icons__status--width;
	margin-left: @icons__status--gap;
}
