@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';

@height: 36px;
@margin: 4px;

:host {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size;
	font-weight: 500;
	text-transform: uppercase;
	
	box-sizing: border-box;
	padding: 10px 16px;
	height: @height;
	min-width: 64px;
	
	border: 0;
	border-radius: 4px;
	
	margin: @margin;
	
	outline: none;	/* remove the click outline */
	
	&.icon {
		width: @web-app-commons__sizes__icon--diameter;
		height: @web-app-commons__sizes__icon--diameter;
		border-radius: @web-app-commons__sizes__icon--diameter / 2;
		padding: 0;
		min-width: 0;
		margin: @web-app-commons__sizes__icon--margin;
	}
	&.icon.small {
		width: @web-app-commons__sizes__icon--diameter--small;
		height: @web-app-commons__sizes__icon--diameter--small;
		border-radius: @web-app-commons__sizes__icon--diameter--small / 2;
	}
	&.icon.huge {
		width: @web-app-commons__sizes__icon--diameter--huge;
		height: @web-app-commons__sizes__icon--diameter--huge;
		border-radius: @web-app-commons__sizes__icon--diameter--huge / 2;
	}
}
	
each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value}.theme-light) {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		color: ~"@{theme-@{value}__palette__primary}";

		&:active {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
			color: ~"@{theme-@{value}__palette__secondary--light}";
		}

		&.raised {
			background-color: ~"@{theme-@{value}__palette__body--background}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
			
			&:active {
				background-color: ~"@{theme-@{value}__palette__body--background}";
				color: ~"@{theme-@{value}__palette__secondary}";
			}
		}
		
		&.filled {
			background-color: ~"@{theme-@{value}__palette__primary}";
			color: ~"@{theme-@{value}__palette__primary--text}";
			
			&:active {
				background-color: ~"@{theme-@{value}__palette__secondary}";
				color: ~"@{theme-@{value}__palette__secondary--text}";
			}
			
			&.secondary {
				background-color: ~"@{theme-@{value}__palette__secondary}";
				color: ~"@{theme-@{value}__palette__secondary--text}";
			}
	
			&:disabled {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		}
	
		&.raised, &.filled {
			box-shadow: 0.7px 1px 5px -0.3px ~"@{web-app-commons__theme-@{value}__palette__shadow}";
		}
		
		&.transparent {
			background-color: none;
		}

		&:disabled {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
			color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			
			box-shadow: none;
			
			&.transparent {
				background-color: none;
			}
		}
		
		&.icon.filled:disabled {
			box-shadow: 0.7px 1px 5px -0.3px ~"@{web-app-commons__theme-@{value}__palette__shadow}";
		}
	}
			
	:host-context(body.webappcommons-theme-@{value}.theme-dark) {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		color: ~"@{theme-@{value}__palette__primary}";

		&:active {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			color: ~"@{theme-@{value}__palette__secondary--dark}";
		}

		&.raised {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
			
			&:active {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
				color: ~"@{theme-@{value}__palette__secondary}";
			}
		}
		
		&.filled {
			background-color: ~"@{theme-@{value}__palette__primary}";
			color: ~"@{theme-@{value}__palette__primary--text}";
			
			&:active {
				background-color: ~"@{theme-@{value}__palette__secondary}";
				color: ~"@{theme-@{value}__palette__secondary--text}";
			}
			
			&.secondary {
				background-color: ~"@{theme-@{value}__palette__secondary}";
				color: ~"@{theme-@{value}__palette__secondary--text}";
			}
	
			&:disabled {
				background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		}
	
		&.raised, &.filled {
			box-shadow: -0.7px -1px 5px -0.3px ~"@{web-app-commons__theme-@{value}__palette__shadow--dark}";
		}
	
		&.transparent {
			background-color: none;
		}
		
		&:disabled {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			
			box-shadow: none;
			
			&.transparent {
				background-color: none;
			}
		}
		
		&.icon.filled:disabled {
			box-shadow: -0.7px -1px 5px -0.3px ~"@{web-app-commons__theme-@{value}__palette__shadow--dark}";
		}
	}
});
