@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/speed.less';

@font--size: 20px;
@font--weight: normal;

@checkbox__font--size: @font--size;
@radio__font--size: @font--size * 1.2;

@pressed--diameter: 35px;
@checkbox--size: 20px;

@pressed--pad: @pressed--diameter - @checkbox--size;

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	box-sizing: border-box;

	border: 0;
	background-color: transparent;
	
	font-size: @radio__font--size;
	line-height: @radio__font--size;
	font-weight: 400;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
	});
	
	float: left;
	position: relative;
	top: ((@font--size - @checkbox__font--size) / 2) - 2;
	
	width: @checkbox--size;
	height: @checkbox--size;
	margin-right: 15px;
	padding: 0;

	outline: none;	/* remove the click outline */
	
	i {
		font-size: @radio__font--size;
		line-height: @radio__font--size;
		font-weight: normal;

		position: relative;
		top: -2px;
		left: -2px;
	}

	aside {
		display: block;
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{theme-@{value}__palette__secondary}";
			}
		});
		
		opacity: 0;
		transition: opacity @speed--normal ease-in-out;
		
		position: absolute;
		top: -@pressed--pad;
		left: -@pressed--pad;
		width: @checkbox--size + (@pressed--pad * 2);
		height: @checkbox--size + (@pressed--pad * 2);
		border-radius: (@checkbox--size + (@pressed--pad * 2)) / 2;
	}

	&:active aside {
		opacity: 0.2;
	}
	
	&[disabled] {
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		});

		&:active aside {
			opacity: 0;
		}
	}
}

button {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).selected & {
			color: ~"@{theme-@{value}__palette__primary}";
			
			&[disabled] {
				color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			}
		}
	});
}

span {
	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	font-weight: @materialdesign__font__subheading--weight;
	line-height: @materialdesign__font__subheading--size * @web-app-commons__paragraph__text--lineheight--ratio;
	
	position: relative;
	top: -3px;
}

:host.solo {
	span {
		display: none;
	}
	
	button {
		margin-right: 0;
	}
}
