@charset 'utf8';

@import (less) '../../less/common/sizes.less';

@snackbar--gap: 5px;

aside {
	position: relative;
	left: 10%;
	
	display: block;
	width: 80%;
	height: @web-app-commons__sizes__infoline--height;
	box-sizing: border-box;
	
	margin-top: @snackbar--gap;
}
