<aside
		[ngClass]="'snack' + index"
>
	<commons-info-line error *ngIf="this.isError()"
			class="compact"
			[allowClose]="this.allowClose"
			(onClose)="this.doClose()"
	>{{snack.message}}</commons-info-line>
	<commons-info-line success *ngIf="this.isSuccess()"
			class="compact"
			[allowClose]="this.allowClose"
			(onClose)="this.doClose()"
	>{{snack.message}}</commons-info-line>
	<commons-info-line notification *ngIf="this.isNotification()"
			class="compact"
			[allowClose]="this.allowClose"
			(onClose)="this.doClose()"
	>{{snack.message}}</commons-info-line>
</aside>
