@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/fonts.less';

:host i.info,
:host i.error,
:host i.notification,
:host i.success,
:host i.help,
:host i.subtle {
	display: none;
}

:host[info] i.info {
	display: inline-block;
}
:host[error] i.error {
	display: inline-block;
}
:host[notification] i.notification {
	display: inline-block;
}
:host[success] i.success {
	display: inline-block;
}
:host[help] i.help {
	display: inline-block;
}
:host[subtle] i.info {
	display: inline-block;
}

aside {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	width: 100%;
	height: @web-app-commons__sizes__infoline--height;
	box-sizing: border-box;
	padding-top: (@web-app-commons__sizes__infoline--height - @materialdesign__font__body2--size) / 2;
	
	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__body2--size;
	font-weight: @materialdesign__font__body2--weight;
	line-height: @materialdesign__font__body2--size;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
	
	margin: 20px 0 10px 0;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
	});

	i.info,
	i.error,
	i.notification,
	i.success,
	i.help,
	i.subtle {
		float: left;
		font-size: inherit;
		margin-right: 1em;
		color: inherit;
	}
	
	i.close {
		position: absolute;
		right: 1em;
		top: (@web-app-commons__sizes__infoline--height - @materialdesign__font__body2--size) / 2;
		font-size: inherit;
		color: inherit;
	}
}

:host.compact {
	aside {
		margin: 0;
	}
}

each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value})[info] aside {
		background-color: ~"@{theme-@{value}__palette__primary}";
		color: ~"@{theme-@{value}__palette__primary--text}";
	}
	:host-context(body.webappcommons-theme-@{value})[error] aside {
		background-color: ~"@{theme-@{value}__palette__error}";
		color: ~"@{theme-@{value}__palette__error--text}";
	}
	:host-context(body.webappcommons-theme-@{value})[notification] aside {
		background-color: ~"@{theme-@{value}__palette__secondary}";
		color: ~"@{theme-@{value}__palette__secondary--text}";
	}
	:host-context(body.webappcommons-theme-@{value})[success] aside {
		background-color: ~"@{theme-@{value}__palette__success}";
		color: ~"@{theme-@{value}__palette__success--text}";
	}
	:host-context(body.webappcommons-theme-@{value})[help] aside {
		@color-var-name-a: "theme-@{value}__palette__body--background";
		@color-var-name-b: "theme-@{value}__palette__secondary--light";
		background-color: mix(@@color-var-name-a, @@color-var-name-b, 70%);
		color: ~"@{theme-@{value}__palette__secondary--text}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-light)[subtle] aside {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-dark)[subtle] aside {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-light)[subtler] aside {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtler}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-dark)[subtler] aside {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtler--dark}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-light)[subtlest] aside {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-dark)[subtlest] aside {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest--dark}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
	}
});
