<aside>
	<i class="material-icons info">info</i>
	<i class="material-icons error">warning</i>
	<i class="material-icons notification">priority_high</i>
	<i class="material-icons success">check</i>
	<i class="material-icons help">lightbulb_outline</i>
	<i class="material-icons close" *ngIf="this.allowClose"
			(click)="this.onClose.emit();"
	>close</i>
	<ng-content></ng-content>
</aside>
