<commons-main>

<table commons-table2 class="has-filter"
		[selectable]="true"
>
	<thead commons-table2-header>
		<tr commons-table2-header-filter></tr>
		<tr commons-table2-header-columns>
			<th commons-table2-header-column
					[name]="'a'"
					[width]="'3fr'"
			>Header A</th>
			<th commons-table2-header-column
					[name]="'b'"
					[width]="'1fr'"
			>Header B</th>
			<th commons-table2-header-column *ngIf="this.show"
					[name]="'c'"
					[width]="'1fr'"
			>Header C</th>
			<th commons-table2-header-column
					[name]="'d'"
					[width]="'2fr'"
			>Header D</th>
		</tr>
	</thead>
	<tbody commons-table2-body>
		<tr commons-table2-body-row
				[selected]="true"
		>
			<td commons-table2-body-cell>Cell A1</td>
			<td commons-table2-body-cell>Cell B1</td>
			<td commons-table2-body-cell *ngIf="this.show">Cell C1</td>
			<td commons-table2-body-cell>1</td>
		</tr>
		<tr commons-table2-body-row>
			<td commons-table2-body-cell>Cell A2</td>
			<td commons-table2-body-cell>Cell B2</td>
			<td commons-table2-body-cell *ngIf="this.show">Cell C2</td>
			<td commons-table2-body-cell>2</td>
		</tr>
		<tr commons-table2-body-row *ngIf="this.show2">
			<td commons-table2-body-cell>Cell A3</td>
			<td commons-table2-body-cell>Cell B3</td>
			<td commons-table2-body-cell *ngIf="this.show">Cell C3</td>
			<td commons-table2-body-cell>3</td>
		</tr>
		<tr commons-table2-body-row
				[selected]="true"
		>
			<td commons-table2-body-cell>Cell A4</td>
			<td commons-table2-body-cell>Cell B4</td>
			<td commons-table2-body-cell *ngIf="this.show">Cell C4</td>
			<td commons-table2-body-cell>4</td>
		</tr>
		<tr commons-table2-body-row *ngIf="this.show2">
			<td commons-table2-body-cell>Cell A5</td>
			<td commons-table2-body-cell>Cell B5</td>
			<td commons-table2-body-cell *ngIf="this.show">Cell C5</td>
			<td commons-table2-body-cell>5</td>
		</tr>
	</tbody>
	<tfoot commons-table2-footer>
		<tr commons-table2-footer-pagination
				[from]="this.from"
				[total]="this.total"
				[(rows)]="this.rows"
		></tr>
	</tfoot>
</table>

</commons-main>

<button commons-button>test</button>
<button commons-button class="raised">test</button>
<button commons-button class="filled">test</button>
