<section
		[class.noText]="this.itemCount < 5"
>
	<ng-container *ngIf="this.icon !== undefined">
		<ng-container [ngSwitch]="this.iconSet">
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{this.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{this.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
					[class]="'mdi mdi-' + this.icon"
			></i>
		</ng-container>
	</ng-container>
	<span *ngIf="this.caption !== undefined">{{this.caption}}</span>
	<label *ngIf="this.label"
			[class.important]="this.important"
	>{{this.label}}</label>
</section>