@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/speed.less';

@icon--size: @materialdesign__icons__normal--size;

:host {
	color: inherit;
	
	text-decoration: none;

	&[disabled='true'] {
		pointer-events: none;
	}
}

section {
	display: block;
	box-sizing: border-box;
	
	width: 100%;
	height: @web-app-commons__sizes__bottomnavigationbar--height;

	padding-top: 8px;
	
	transition: 
			padding-top @speed--normal ease-in-out,
			font-size @speed--normal ease-in-out,
			line-height @speed--normal ease-in-out;

	position: relative;
	top: 0;
	left: 0;
	
	text-align: center;
	text-decoration: none;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__caption--size;
	line-height: @materialdesign__font__caption--size * @web-app-commons__paragraph__text--lineheight--ratio;

	span {
		display: block;
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		
		transition: bottom @speed--normal ease-in-out;
	}
	
	i.mdi:before,
	i.material-icons {
		display: block;
		font-size: @icon--size;
		line-height: @icon--size;
		/* NB, ideally we would set a width: ' @commons__sizes__bottomnavigator__icons--width here, but for some reason it busts the icon position */
	}

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).selected {
			color: ~"@{theme-@{value}__palette__secondary}";
		}
			
		:host-context(body.webappcommons-theme-@{value})[disabled='true'] {
			color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
		}
	});

	label {
		position: absolute;
		top: 6px;
		right: ~'calc(50% - ' (@icon--size) ~')';

		display: flex;
		box-sizing: border-box;
		
		justify-content: center;
		align-items: center;

		width: @materialdesign__font__caption--size * 1.5;
		height: @materialdesign__font__caption--size * 1.5;
		border-radius: (@materialdesign__font__caption--size * 1.5) / 2;
		
		font-size: @materialdesign__font__caption--size;
		line-height: @materialdesign__font__caption--size * @web-app-commons__paragraph__text--lineheight--ratio;
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{theme-@{value}__palette__primary}";
				color: ~"@{theme-@{value}__palette__primary--text}";
			}
		});
	}
	
	&.noText {
		padding-top: 14px;

		span { display: none; }
	
		:host.selected & {
			padding-top: 6px;
	
			span {
				display: block;
			}
		}
	
		:host.all-text & {
			padding-top: 6px;
	
			span {
				display: block;
			}
		}
	}
}

:host {
	&.selected section {
		padding-top: 6px;

		font-size: @materialdesign__font__body1--size;
		line-height: @materialdesign__font__body1--size * 1.2;
	
		span {
			bottom: 8px;
		}
	
		label {
			display: none;
		}
	}
	&.all-text section {
		padding-top: 6px;

		font-size: @materialdesign__font__body1--size;
		line-height: @materialdesign__font__body1--size * 1.2;
	
		span {
			bottom: 8px;
		}
	}
}

section label {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value})[disabled='true'] & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__disabled}";
			color: ~"@{theme-@{value}__palette__body--background}";
		}
	});
}
