@import (less) '../../less/common/palette.less';

@hard-vertical-padding: 6px;
@fluid-vertical-padding: 52px - (@hard-vertical-padding * 2);

:host {
	display: grid;
	box-sizing: content-box;
	padding: @hard-vertical-padding 0;
	
	grid-auto-columns: auto;
	grid-template-rows: @fluid-vertical-padding;
	align-items: center;
}

each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value}) {
		&:hover {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}

		&.selected {
			@color: "theme-@{value}__palette__primary--light";
			background-color: fade(@@color, 10%);
		}
	}
});

td {
	display: block;
	box-sizing: border-box;
	padding: 0 16px;
	
	commons-checkbox {
		position: relative;
		top: 2px;
	}
}
