@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/layout.less';
@import (less) '../../less/common/layout.less';

@bar--shadow-blur: 10px;

footer {
	/* the negative left and excess width is ok because the position is fixed */
	
	display: grid;
	box-sizing: border-box;
	
	position: fixed;
	bottom: 0;
	left: -@bar--shadow-blur;
	
	margin: 0;
	
	width: ~'calc(100% + ' (2 * @bar--shadow-blur) ~')';
	height: @web-app-commons__sizes__bottomnavigationbar--height;
	white-space: nowrap;
	overflow: hidden;
	
	font-size: 0;
	
	text-align: center;
	
	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value}.theme-light :host & {
			box-shadow: 0 3px @bar--shadow-blur 0 ~"@{web-app-commons__theme-@{value}__palette__shadow}";
			background-color: ~"@{theme-@{value}__palette__body--background}";
			
			@color-a: "web-app-commons__theme-@{value}__palette__body--text";
			color: fade(@@color-a, 76%);
		}
		body.webappcommons-theme-@{value}.theme-dark :host & {
			box-shadow: 0 3px @bar--shadow-blur 0 ~"@{web-app-commons__theme-@{value}__palette__shadow--dark}";
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			
			@color-a: "web-app-commons__theme-@{value}__palette__body--text--invert";
			color: fade(@@color-a, 76%);
		}
		
		body.webappcommons-theme-@{value} :host.primary & {
			background-color: ~"@{theme-@{value}__palette__primary}";
			
			@color-a: "theme-@{value}__palette__primary--text";
			color: fade(@@color-a, 76%);
		}
	});

	z-index: @web-app-commons__elevation__fixed;
	
	section[inner] {
		display: grid;
		width: ~'calc(100% - ' (2 * @bar--shadow-blur) ~')';
		height: inherit;
		position: relative;
		left: @bar--shadow-blur;
		white-space: nowrap;
		overflow: hidden;
	}
}

.generate-item-sizes(@n, @i: 0) when (@i < @n) {
	footer section.numberOfItems-@{i} {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(@i, 1fr);
	}
	.generate-item-sizes(@n, (@i + 1));
}
.generate-item-sizes(12);

:host.relative footer {
	/* for relative, we need to undo the left/width from above */
	
	position: relative;
	bottom: auto;
	left: auto;
	width: 100%;

	z-index: @web-app-commons__elevation__scrolling-raised;
	
	section[inner] {
		width: 100%;
		height: inherit;
		left: 0;
	}
}
