<footer>
	<section inner
			[class.numberOfItems-1]="this.itemCount === 1"
			[class.numberOfItems-2]="this.itemCount === 2"
			[class.numberOfItems-3]="this.itemCount === 3"
			[class.numberOfItems-4]="this.itemCount === 4"
			[class.numberOfItems-5]="this.itemCount === 5"
			[class.numberOfItems-6]="this.itemCount === 6"
			[class.numberOfItems-7]="this.itemCount === 7"
			[class.numberOfItems-8]="this.itemCount === 8"
			[class.numberOfItems-9]="this.itemCount === 9"
			[class.numberOfItems-10]="this.itemCount === 10"
			[class.numberOfItems-11]="this.itemCount === 11"
			[class.numberOfItems-12]="this.itemCount === 12"
	><ng-content></ng-content></section>
</footer>
