@materialdesign__font__display4--size: 112px;
@materialdesign__font__display3--size: 56px;
@materialdesign__font__display2--size: 45px;
@materialdesign__font__display1--size: 34px;
@materialdesign__font__headline--size: 24px;
@materialdesign__font__title--size: 20px;
@materialdesign__font__subheading--size: 16px;
@materialdesign__font__body2--size: 14px;
@materialdesign__font__body1--size: 14px;
@materialdesign__font__caption--size: 12px;
@materialdesign__font__button--size: 14px;

@materialdesign__font__family: "Roboto";

@materialdesign__font__display4--weight: 300;
@materialdesign__font__display3--weight: 400;
@materialdesign__font__display2--weight: 400;
@materialdesign__font__display1--weight: 400;
@materialdesign__font__headline--weight: 400;
@materialdesign__font__title--weight: 500;
@materialdesign__font__subheading--weight: 400;
@materialdesign__font__body2--weight: 500;
@materialdesign__font__body1--weight: 400;
@materialdesign__font__caption--weight: 400;
@materialdesign__font__button--weight: 500;

@materialdesign__icons__small--size: 18px;
@materialdesign__icons__normal--size: 24px;
@materialdesign__icons__large--size: 36px;
@materialdesign__icons__largest--size: 48px;

@web-app-commons__paragraph__text--lineheight--ratio: 1.5;
