@charset 'utf8';


@web-app-commons__themes: blue, darkred, nightoil, purple, hydra, alise, welsafe;


/* blue theme */
@import (less) './themes/blue.less';

@web-app-commons__theme-blue__palette__body--background--greyscale: greyscale(@theme-blue__palette__body--background);
@web-app-commons__theme-blue__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-blue__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-blue__palette__body--text: mix(@web-app-commons__theme-blue__palette__body--background--greyscale--invert, @web-app-commons__theme-blue__palette__body--background--greyscale, 80%);
@web-app-commons__theme-blue__palette__body--text--invert: difference(@web-app-commons__theme-blue__palette__body--text, #ffffff);

@web-app-commons__theme-blue__palette__modal--background: fade(@web-app-commons__theme-blue__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-blue__palette__modal--background--dark: fade(@web-app-commons__theme-blue__palette__body--background--greyscale, 50%);

@web-app-commons__theme-blue__palette__disabled: mix(@web-app-commons__theme-blue__palette__body--text, @web-app-commons__theme-blue__palette__body--background--greyscale, 30%);
@web-app-commons__theme-blue__palette__subtle: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-blue__palette__subtler: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-blue__palette__subtlerer: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-blue__palette__subtlest: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-blue__palette__subtle--dark: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-blue__palette__subtler--dark: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-blue__palette__subtlest--dark: mix(@web-app-commons__theme-blue__palette__body--background--greyscale, @web-app-commons__theme-blue__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-blue__palette__shadow: fade(@web-app-commons__theme-blue__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-blue__palette__shadow--dark: fade(@web-app-commons__theme-blue__palette__body--background--greyscale, 50%);


/* hydra theme */
@import (less) './themes/hydra.less';

@web-app-commons__theme-hydra__palette__body--background--greyscale: greyscale(@theme-hydra__palette__body--background);
@web-app-commons__theme-hydra__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-hydra__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-hydra__palette__body--text: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale--invert, @web-app-commons__theme-hydra__palette__body--background--greyscale, 80%);
@web-app-commons__theme-hydra__palette__body--text--invert: difference(@web-app-commons__theme-hydra__palette__body--text, #ffffff);

@web-app-commons__theme-hydra__palette__modal--background: fade(@web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-hydra__palette__modal--background--dark: fade(@web-app-commons__theme-hydra__palette__body--background--greyscale, 50%);

@web-app-commons__theme-hydra__palette__disabled: mix(@web-app-commons__theme-hydra__palette__body--text, @web-app-commons__theme-hydra__palette__body--background--greyscale, 30%);
@web-app-commons__theme-hydra__palette__subtle: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-hydra__palette__subtler: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-hydra__palette__subtlerer: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-hydra__palette__subtlest: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-hydra__palette__subtle--dark: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-hydra__palette__subtler--dark: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-hydra__palette__subtlest--dark: mix(@web-app-commons__theme-hydra__palette__body--background--greyscale, @web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-hydra__palette__shadow: fade(@web-app-commons__theme-hydra__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-hydra__palette__shadow--dark: fade(@web-app-commons__theme-hydra__palette__body--background--greyscale, 50%);


/* darkred theme */
@import (less) './themes/darkred.less';

@web-app-commons__theme-darkred__palette__body--background--greyscale: greyscale(@theme-darkred__palette__body--background);
@web-app-commons__theme-darkred__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-darkred__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-darkred__palette__body--text: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale--invert, @web-app-commons__theme-darkred__palette__body--background--greyscale, 80%);
@web-app-commons__theme-darkred__palette__body--text--invert: difference(@web-app-commons__theme-darkred__palette__body--text, #ffffff);

@web-app-commons__theme-darkred__palette__modal--background: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-darkred__palette__modal--background--dark: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale, 50%);

@web-app-commons__theme-darkred__palette__disabled: mix(@web-app-commons__theme-darkred__palette__body--text, @web-app-commons__theme-darkred__palette__body--background--greyscale, 30%);
@web-app-commons__theme-darkred__palette__subtle: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-darkred__palette__subtler: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-darkred__palette__subtlerer: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-darkred__palette__subtlest: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-darkred__palette__subtle--dark: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-darkred__palette__subtler--dark: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-darkred__palette__subtlest--dark: mix(@web-app-commons__theme-darkred__palette__body--background--greyscale, @web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-darkred__palette__shadow: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-darkred__palette__shadow--dark: fade(@web-app-commons__theme-darkred__palette__body--background--greyscale, 50%);


/* nightoil theme */
@import (less) './themes/nightoil.less';

@web-app-commons__theme-nightoil__palette__body--background--greyscale: greyscale(@theme-nightoil__palette__body--background);
@web-app-commons__theme-nightoil__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-nightoil__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-nightoil__palette__body--text: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, @web-app-commons__theme-nightoil__palette__body--background--greyscale, 80%);
@web-app-commons__theme-nightoil__palette__body--text--invert: difference(@web-app-commons__theme-nightoil__palette__body--text, #ffffff);

@web-app-commons__theme-nightoil__palette__modal--background: fade(@web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-nightoil__palette__modal--background--dark: fade(@web-app-commons__theme-nightoil__palette__body--background--greyscale, 50%);

@web-app-commons__theme-nightoil__palette__disabled: mix(@web-app-commons__theme-nightoil__palette__body--text, @web-app-commons__theme-nightoil__palette__body--background--greyscale, 30%);
@web-app-commons__theme-nightoil__palette__subtle: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-nightoil__palette__subtler: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-nightoil__palette__subtlerer: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-nightoil__palette__subtlest: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-nightoil__palette__subtle--dark: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-nightoil__palette__subtler--dark: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-nightoil__palette__subtlest--dark: mix(@web-app-commons__theme-nightoil__palette__body--background--greyscale, @web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-nightoil__palette__shadow: fade(@web-app-commons__theme-nightoil__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-nightoil__palette__shadow--dark: fade(@web-app-commons__theme-nightoil__palette__body--background--greyscale, 50%);


/* purple theme */
@import (less) './themes/purple.less';

@web-app-commons__theme-purple__palette__body--background--greyscale: greyscale(@theme-purple__palette__body--background);
@web-app-commons__theme-purple__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-purple__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-purple__palette__body--text: mix(@web-app-commons__theme-purple__palette__body--background--greyscale--invert, @web-app-commons__theme-purple__palette__body--background--greyscale, 80%);
@web-app-commons__theme-purple__palette__body--text--invert: difference(@web-app-commons__theme-purple__palette__body--text, #ffffff);

@web-app-commons__theme-purple__palette__modal--background: fade(@web-app-commons__theme-purple__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-purple__palette__modal--background--dark: fade(@web-app-commons__theme-purple__palette__body--background--greyscale, 50%);

@web-app-commons__theme-purple__palette__disabled: mix(@web-app-commons__theme-purple__palette__body--text, @web-app-commons__theme-purple__palette__body--background--greyscale, 30%);
@web-app-commons__theme-purple__palette__subtle: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-purple__palette__subtler: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-purple__palette__subtlerer: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-purple__palette__subtlest: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-purple__palette__subtle--dark: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-purple__palette__subtler--dark: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-purple__palette__subtlest--dark: mix(@web-app-commons__theme-purple__palette__body--background--greyscale, @web-app-commons__theme-purple__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-purple__palette__shadow: fade(@web-app-commons__theme-purple__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-purple__palette__shadow--dark: fade(@web-app-commons__theme-purple__palette__body--background--greyscale, 50%);


/* alise theme */
@import (less) './themes/alise.less';

@web-app-commons__theme-alise__palette__body--background--greyscale: greyscale(@theme-alise__palette__body--background);
@web-app-commons__theme-alise__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-alise__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-alise__palette__body--text: mix(@web-app-commons__theme-alise__palette__body--background--greyscale--invert, @web-app-commons__theme-alise__palette__body--background--greyscale, 80%);
@web-app-commons__theme-alise__palette__body--text--invert: difference(@web-app-commons__theme-alise__palette__body--text, #ffffff);

@web-app-commons__theme-alise__palette__modal--background: fade(@web-app-commons__theme-alise__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-alise__palette__modal--background--dark: fade(@web-app-commons__theme-alise__palette__body--background--greyscale, 50%);

@web-app-commons__theme-alise__palette__disabled: mix(@web-app-commons__theme-alise__palette__body--text, @web-app-commons__theme-alise__palette__body--background--greyscale, 30%);
@web-app-commons__theme-alise__palette__subtle: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-alise__palette__subtler: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-alise__palette__subtlerer: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-alise__palette__subtlest: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-alise__palette__subtle--dark: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-alise__palette__subtler--dark: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-alise__palette__subtlest--dark: mix(@web-app-commons__theme-alise__palette__body--background--greyscale, @web-app-commons__theme-alise__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-alise__palette__shadow: fade(@web-app-commons__theme-alise__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-alise__palette__shadow--dark: fade(@web-app-commons__theme-alise__palette__body--background--greyscale, 50%);


/* welsafe theme */
@import (less) './themes/welsafe.less';

@web-app-commons__theme-welsafe__palette__body--background--greyscale: greyscale(@theme-welsafe__palette__body--background);
@web-app-commons__theme-welsafe__palette__body--background--greyscale--invert: difference(@web-app-commons__theme-welsafe__palette__body--background--greyscale, #ffffff);
@web-app-commons__theme-welsafe__palette__body--text: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, @web-app-commons__theme-welsafe__palette__body--background--greyscale, 80%);
@web-app-commons__theme-welsafe__palette__body--text--invert: difference(@web-app-commons__theme-welsafe__palette__body--text, #ffffff);

@web-app-commons__theme-welsafe__palette__modal--background: fade(@web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 50%);
@web-app-commons__theme-welsafe__palette__modal--background--dark: fade(@web-app-commons__theme-welsafe__palette__body--background--greyscale, 50%);

@web-app-commons__theme-welsafe__palette__disabled: mix(@web-app-commons__theme-welsafe__palette__body--text, @web-app-commons__theme-welsafe__palette__body--background--greyscale, 30%);
@web-app-commons__theme-welsafe__palette__subtle: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 60%);
@web-app-commons__theme-welsafe__palette__subtler: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 75%);
@web-app-commons__theme-welsafe__palette__subtlerer: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert,88%);
@web-app-commons__theme-welsafe__palette__subtlest: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 95%);

@web-app-commons__theme-welsafe__palette__subtle--dark: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 40%);
@web-app-commons__theme-welsafe__palette__subtler--dark: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 25%);
@web-app-commons__theme-welsafe__palette__subtlest--dark: mix(@web-app-commons__theme-welsafe__palette__body--background--greyscale, @web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 5%);

@web-app-commons__theme-welsafe__palette__shadow: fade(@web-app-commons__theme-welsafe__palette__body--background--greyscale--invert, 50%);

@web-app-commons__theme-welsafe__palette__shadow--dark: fade(@web-app-commons__theme-welsafe__palette__body--background--greyscale, 50%);

