<aside>
<div *ngFor="let snack of this.snacks.slice(0, this.maxSnacks).reverse(); let i=index" [@closeAnimation]="'open'">
<commons-snack
		[snack]="snack"
		[timeout]="this.timeout"
		[allowClose]="this.allowClose"
		(onClose)="this.doClose(snack);"
></commons-snack>
</div>
</aside>
