@charset 'utf8';

@import (less) '../../less/common/layout.less';
@import (less) '../../less/sizes.less';

aside {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
	bottom: @web-app-commons__sizes__bottomnavigationbar--height;
	
	z-index: @web-app-commons__elevation__snackbar;
}
