@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/layout.less';

@padding--horizontal: 20px;
@padding--vertical: 13px;

section {
	display: block;
	box-sizing: border-box;
	
	padding: @padding--vertical @padding--horizontal;
	
	z-index: @web-app-commons__elevation__scrolling-raised;
}

h4 {
	font-family: @materialdesign__font__family;
	font-weight: @materialdesign__font__subheading--weight;
	font-size: @materialdesign__font__subheading--size;
	
	margin: 0 0 10px 0;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
		}
	});
}

:host.no-top-gap section {
	padding-top: 0;
}
:host.no-bottom-gap section {
	padding-bottom: 0;
}

:host.no-padding section {
	padding: 0;
}

:host-context(.no-padding) section {
	padding: 0;
}

:host.bigger-top-gap section {
	margin-top: 15px;
}
