@charset 'utf8';

@import (less) '../../less/sizes.less';

main {
	display: block;
	
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	top: @web-app-commons__sizes__toolbar--height;
	padding-bottom: @web-app-commons__sizes__bottomnavigationbar--height;
	
	:host.no-bottom-bar & {
		padding-bottom: 0;
	}
}
