@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

:host {
	display: block;
	box-sizing: border-box;

	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 4px;

	font-family: @materialdesign__font__family;

	/deep/ tr {
		border-top-style: solid;
		border-top-width: 1px;
		
	}
	/deep/ thead > tr:first-child {
		border-top: none;
	}

}

each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value}.theme-light) & {
		border-color: ~"@{web-app-commons__theme-@{value}__palette__subtlerer}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
		border-color: ~"@{web-app-commons__theme-@{value}__palette__subtler--dark}";
		color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
	}

	:host-context(body.webappcommons-theme-@{value}.theme-light) & /deep/ tr {
		border-top-color: ~"@{web-app-commons__theme-@{value}__palette__subtlerer}";
	}
	:host-context(body.webappcommons-theme-@{value}.theme-dark) & /deep/ tr {
		border-top-color: ~"@{web-app-commons__theme-@{value}__palette__subtler--dark}";
	}
});
