@charset 'utf8';

@import (less) '../../less/common/palette.less';

@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0%{
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}

@keyframes color {
	100%, 0%{
		stroke: #d62d20;
	}
	40%{
		stroke: #0057e7;
	}
	66%{
		stroke: #008744;
	}
	80%, 90%{
		stroke: #ffa700;
	}
}

svg {
	position: relative;
	animation: rotate 2s linear infinite;
	height: 100%;
	width: 100%;
	
	circle {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
		
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				stroke: ~"@{theme-@{value}__palette__secondary}";
			}
		});
		
		animation: dash 1.5s ease-in-out infinite;
		stroke-linecap: round;
		
		:host[rainbow] & {
			animation:
				dash 1.5s ease-in-out infinite,
				color 6s ease-in-out infinite
				;
		}
	}
}
