@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';

section {
	display: block;
	box-sizing: border-box;
	font-size: 0;
	
	&[container] {
		width: @web-app-commons__sizes__cylinder-picker-time--width;
	}
	
	&[hour], &[minute] {
		display: inline-block;
	}
	
	&[hour] {
		width: @web-app-commons__sizes__cylinder-picker-time-hour--width;
	}
	
	&[minute] {
		width: @web-app-commons__sizes__cylinder-picker-time-minute--width;
	}
}

aside {
	display: inline-block;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	
	overflow: hidden;
	
	margin: 0;
	padding: @web-app-commons__sizes__cylinder-picker-separator--padding 0 0 0;
	width: @web-app-commons__sizes__cylinder-picker-separator--width;
	height: @web-app-commons__sizes__cylinder-picker--height;

	font-family: @materialdesign__font__family;
	line-height: @materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio;
	font-weight: @materialdesign__font__headline--weight;
	font-size: @materialdesign__font__headline--size;
}
