@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@icon--diameter: 24px;
@icon--margin: @web-app-commons__sizes__icon--margin;

:host {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0;
	
	list-style: none;
}

section[item] {
	display: block;
	box-sizing: border-box;
	width: 100%;

	> label {
		float: left;
	
		display: block;
		box-sizing: border-box;
		width: @icon--diameter;
		height: @icon--diameter;
		margin: @icon--margin 18px @icon--margin 0;

		border-radius: @icon--diameter / 2;
	
		each(@web-app-commons__themes, {
			:host-context(body.webappcommons-theme-@{value}) & {
				background-color: ~"@{theme-@{value}__palette__primary}";
				color: ~"@{theme-@{value}__palette__primary--text}";
			}
		});

		&.icon, &.step {
			text-align: center;
		}

		&.icon {
			padding-top: 4px;
			
			i.material-icons {
				font-size: 16px;
			}
		}
		
		&.step {
			padding-top: 4px;

			font-family: @materialdesign__font__family;
			font-size: @materialdesign__font__caption--size;
			font-weight: @materialdesign__font__caption--weight;
		}
	}
}

:host.active section[item] > label.step {
	padding-top: 2px;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__body2--size;
	font-weight: @materialdesign__font__body2--weight;
}

each(@web-app-commons__themes, {
	:host-context(body.webappcommons-theme-@{value}).secondary section[item] > label {
		background-color: ~"@{theme-@{value}__palette__secondary}";
		color: ~"@{theme-@{value}__palette__secondary--text}";
	}
	:host-context(body.webappcommons-theme-@{value}).error section[item] > label {
		background-color: ~"@{theme-@{value}__palette__error}";
		color: ~"@{theme-@{value}__palette__error--text}";
	}
	:host-context(body.webappcommons-theme-@{value}).success section[item] > label {
		background-color: ~"@{theme-@{value}__palette__success}";
		color: ~"@{theme-@{value}__palette__success--text}";
	}
	:host-context(body.webappcommons-theme-@{value}).subtle section[item] > label {
		background-color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		color: ~"@{theme-@{value}__palette__primary--text}";
	}
});

section[title] {
	width: ~'calc(100% - (18px + ' @icon--margin ~' + ' @icon--diameter ~'))';
	float: left;
	
	margin: 2px 0 0 0;
	padding: 0;
	
	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__subheading--size;
	line-height: @materialdesign__font__subheading--size * @web-app-commons__paragraph__text--lineheight--ratio;
	font-weight: materialdesign__font__subheading--weight;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
		}
	});
}

:host.active section[title] {
	font-weight: 500;
}

div.clear {
	clear: both;
}
