@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';

@height: @web-app-commons__sizes__details--height;
@font--size: @materialdesign__font__subheading--size;

:host {
	display: block;
	margin: 0;
	padding: 0;

	position: relative;
	top: 0;
	left: 0;

	box-sizing: border-box;
	height: @height;
	
	font-family: @materialdesign__font__family;
	font-size: @font--size;
	font-weight: 500;
	line-height: @font--size;
	
	padding-top: (@height - @font--size) / 2;

	white-space: nowrap;
}

button {
	float: right;
	
	position: relative;
	top: ((@height - (@web-app-commons__sizes__icon--diameter--small + @web-app-commons__sizes__icon--margin)) / 2) - ((@height - @font--size) / 2);
}

span {
	display: inline-block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: @font--size * @web-app-commons__paragraph__text--lineheight--ratio;

	&.editable {
		width: ~'calc(100% - ' (@web-app-commons__sizes__details__label--width + @web-app-commons__sizes__icon--diameter--small + 10px) ~')';
	}
}

:host.compact {
	span.editable {
		width: ~'calc(100% - ' (@web-app-commons__sizes__details__label__compact--width + @web-app-commons__sizes__icon--diameter--small + 10px) ~')';
	}
}
