@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

:host {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	
	list-style: none;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__body1--size;
	line-height: @materialdesign__font__body1--size * @web-app-commons__paragraph__text--lineheight--ratio;
	font-weight: materialdesign__font__body1--weight;
}

section {
	box-sizing: border-box;
	display: block;
	clear: both;

	margin: 0 0 0 11px;
	padding: 5px 0 15px 30px;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			border-left: 1px solid ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}

		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
		}
	});
}
