@charset 'utf8';

@import (less) '../../less/common/sizes.less';
@import (less) '../../less/sizes.less';

aside {
	position: fixed;
	bottom: @web-app-commons__sizes__bottomnavigationbar--height + 20px;
	right: 20px - @web-app-commons__sizes__icon--margin;
	
	:host.flushBottom & {
		bottom: 20px - @web-app-commons__sizes__icon--margin;
	}
}

button {
	display: block;
	z-index: 110;
	cursor: pointer;
	margin-top: 20px !important;
	
	&.small {
		position: relative;
		left: (@web-app-commons__sizes__icon--diameter - @web-app-commons__sizes__icon--diameter--small) / 2;
	}
}
