@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

menu {
	border: 0;
	border-radius: 2px;
	
	z-index: 4000;
	
	padding: 10px 0;
	margin: 4px;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			@color-light: "web-app-commons__theme-@{value}__palette__body--background--greyscale--invert";
			box-shadow: 0.7px 1px 5px -0.3px fade(@@color-light, 50%);
			
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			@color-dark: "web-app-commons__theme-@{value}__palette__body--background--greyscale";
			box-shadow: -0.7px -1px 5px -0.3px fade(@@color-dark, 50%);
			
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
	});
}

:host.overflow menu {
	position: fixed;
	top: 5px;
	right: 5px;
}

:host.selector menu {
	width: 100%;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
