@charset 'utf8';

@import (less) '../../less/common/palette.less';

hr {
	margin: 0;
	display: block;
	box-sizing: border-box;
	
	border: none;
	outline: none;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
	});
	
	height: 1px;
	padding: 0;
	
	cursor: inherit;
}

:host.drawer hr {
	margin: 20px 0;
}