@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';

@title--top: 17px;

.generate-tab-widths(@n, @i: 0) when (@i < @n) {
	section.numberOfTabs-@{i} {
		width: 100% / @i;
	}
	.generate-tab-widths(@n, (@i + 1));
}

section {
	display: block;
	box-sizing: border-box;
	float: left;
	
	height: @web-app-commons__sizes__tabbar--height;
	padding: @title--top 0 0 0;
	
	font-family: @materialdesign__font__family;
	font-weight: @materialdesign__font__subheading--weight;
	font-size: @materialdesign__font__body2--size;
	line-height: @materialdesign__font__body2--size;
	
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	
	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value} :host & {
			@color-a: "theme-@{value}__palette__primary--text";
			color: fade(@@color-a, 60%);
		}
	});
	
	i {
		position: relative;
		top: -5px;
		float: right;
	}
}

:host[disabled] section {
	pointer-events: none;
}

section {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value})[disabled] & {
			@color-a: "theme-@{value}__palette__primary--text";
			color: fade(@@color-a, 25%);
		}
	});
}

.generate-tab-widths(10);

aside {
	position: fixed;
	top: @web-app-commons__sizes__toolbar--height;
	left: auto;
	right: 0;

	z-index: 999;
}
