<section
		[class.numberOfTabs-1]="this.tabBarCount === 1"
		[class.numberOfTabs-2]="this.tabBarCount === 2"
		[class.numberOfTabs-3]="this.tabBarCount === 3"
		[class.numberOfTabs-4]="this.tabBarCount === 4"
		[class.numberOfTabs-5]="this.tabBarCount === 5"
		[class.numberOfTabs-6]="this.tabBarCount === 6"
		[class.numberOfTabs-7]="this.tabBarCount === 7"
		[class.numberOfTabs-8]="this.tabBarCount === 8"
		[class.numberOfTabs-9]="this.tabBarCount === 9"
		[class.numberOfTabs-10]="this.tabBarCount === 10"
>
	More<i class="material-icons">arrow_drop_down</i>
	<aside *ngIf="this.show"
	>
		<ng-content></ng-content>
	</aside>
</section>