@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/layout.less';

:host {
	/* all of these are largely to reset the default browser styles for dialog tags */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	
	z-index: @web-app-commons__elevation__scrimmed + 2;
}

aside {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	
	z-index: @web-app-commons__elevation__scrimmed;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__modal--background}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__modal--background--dark}";
		}
	});
}

section[container] {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	display: grid;
	align-items: center;
	justify-items: center;
	
	width: 100vw;
	height: 100vh;
	
	z-index: @web-app-commons__elevation__scrimmed;
}

dialog {
	display: block;
	width: 50vw;
	max-width: 450px;
	height: 50vh;
	max-height: 400px;
	
	:host.compact & {
		max-width: 350px;
		max-height: 280px;
	}
	
	position: relative;
	top: 0;
	left: 0;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{theme-@{value}__palette__body--background}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			color: ~"@{web-app-commons__theme-@{value}__palette__body--text--invert}";
		}
	});
	
	border: 0;
	margin: 0;
	padding: 0;
	
	@media only screen and (max-width: 560px) {
		min-width: 280px;
	}
	
	@media only screen and (max-height: 560px) {
		min-height: 280px;
	}
	
	&::backdrop {
		display: none;
	}
}

:host.primaryTitle div[title] {
	height: @materialdesign__font__title--size + (30px + 20px);

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}) & {
			background-color: ~"@{theme-@{value}__palette__primary}";
			color: ~"@{theme-@{value}__palette__primary--text}";
		}
	});
}

:host.timePicker dialog {
	max-width: 280px;
	max-height: 375px;
}

p,
h4 {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;

	font-family: @materialdesign__font__family;
}

h4 {
	top: 0;
	margin: 30px 20px;
	
	font-size: @materialdesign__font__title--size;
	font-weight: @materialdesign__font__title--weight;
	line-height: @materialdesign__font__title--size;
}

p {
	position: absolute;
	top: 75px;
	margin: 0 20px;
	
	font-size: @materialdesign__font__body1--size;
	font-weight: @materialdesign__font__body1--weight;
	line-height: @materialdesign__font__body1--size * @web-app-commons__paragraph__text--lineheight--ratio;
}

div[buttons] {
	position: absolute;
	bottom: 20px;
	right: 10px;
	
	height: @web-app-commons__sizes__button--height;
	
	button.icon {
		position: relative;
		top: 5px;
	}
}
