@charset 'utf8';

@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/layout.less';

@bar--shadow-blur: 10px;

section[tabbar] {
	/* this is actually a clever inline method (only section is fixed) to add subsequent padding and push the page content down. */
	display: block;
	width: 100%;
	height: @web-app-commons__sizes__tabbar--height;
}

section[tabs] {
	/* the negative left and excess width is ok because the position is fixed */
	
	position: fixed;
	top: @web-app-commons__sizes__toolbar--height;
	left: -@bar--shadow-blur;

	display: block;
	width: ~'calc(100% + ' (2 * @bar--shadow-blur) ~')';
	height: @web-app-commons__sizes__tabbar--height;

	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value} :host & {
			background-color: ~"@{theme-@{value}__palette__primary}";
			box-shadow: 0 6px @bar--shadow-blur (@bar--shadow-blur * -0.5) ~"@{web-app-commons__theme-@{value}__palette__shadow}";
		}
		body.webappcommons-theme-@{value} :host.unfilled & {
			background-color: transparent;
			box-shadow: none;
		}
	});
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	z-index: @web-app-commons__elevation__fixed;
	
	section[inner] {
		width: ~'calc(100% - ' (2 * @bar--shadow-blur) ~')';
		height: inherit;
		position: relative;
		left: @bar--shadow-blur;
	}
	
	:host.relative & {
		/* for relative, we need to undo the left/width from above */
		
		position: relative;
		top: auto;
		left: auto;
		width: 100%;

		z-index: @web-app-commons__elevation__scrolling-raised;
		
		section[inner] {
			width: 100%;
			height: inherit;
			left: 0;
		}
	}
}

section[more] {
	position: fixed;
	top: @web-app-commons__sizes__toolbar--height;
	left: auto;
	right: 0;

	z-index: 999;
}
