@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

div {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	&.main {
		width: 100%;
	}

	&.left, &.right {
		display: inline-block;
		width: 50%;
		margin-top: 10px;
	}
}

label, figure {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	width: 100%;
	text-align: center;
	
	font-family: @materialdesign__font__family;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{theme-@{value}__palette__primary}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{theme-@{value}__palette__primary--light}";
		}
	});
}

label {
	font-size: @materialdesign__font__title--size;
	font-weight: @materialdesign__font__title--weight;
	line-height: @materialdesign__font__title--size;
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			color: ~"@{web-app-commons__theme-@{value}__palette__subtle--dark}";
		}
	});
	
	@media (max-width: 1280px - 1) {
		font-size: @materialdesign__font__subheading--size;
		line-height: @materialdesign__font__subheading--size;
	}
}

figure {
	font-size: @materialdesign__font__display2--size;
	font-weight: @materialdesign__font__display2--weight;
	line-height: @materialdesign__font__display2--size;
	
	@media (max-width: 1280px - 1) {
		font-size: @materialdesign__font__display1--size;
		line-height: @materialdesign__font__display1--size;
	}
	
	div.main & {
		font-size: @materialdesign__font__display4--size;
		font-weight: @materialdesign__font__display4--weight;
		line-height: @materialdesign__font__display4--size;

		@media (max-width: 1280px - 1) {
			font-size: @materialdesign__font__display3--size;
			line-height: @materialdesign__font__display3--size;
		}
	}
	
	aside {
		display: inline-block;
		margin-left: 15px;
		font-size: @materialdesign__font__title--size;
		font-weight: 400;
		line-height: @materialdesign__font__title--size;
	}
	aside:before {
		content: '(';
	}
	aside:after {
		content: ')';
	}
}
