<div class="main">
	<label>{{this.label}}</label>
	<figure>{{ this.tally | commonsPrettyFigure }}</figure>
</div>
<div *ngIf="this.leftLabel" class="left">
	<label *ngIf="this.leftLabel">{{this.leftLabel}}</label>
	<figure>{{ this.left | commonsPrettyFigure }}<aside *ngIf="this.leftPercent">{{ this.leftPercent | commonsPrettyPercentage:true }}</aside></figure>
</div>
<div *ngIf="this.rightLabel" class="right">
	<label *ngIf="this.rightLabel">{{this.rightLabel}}</label>
	<figure>{{ this.right | commonsPrettyFigure }}<aside *ngIf="this.rightPercent">{{ this.rightPercent | commonsPrettyPercentage:true }}</aside></figure>
</div>
