@charset 'utf8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/layout.less';

@height: 36px;
@margin: 4px;

section {
	display: block;
	box-sizing: border-box;
	
	margin: 0;
	padding: 16px;
	
	border-radius: 3px;
	
	width: 100%;

	each(@web-app-commons__themes, {
		body.webappcommons-theme-@{value}.theme-light :host & {
			background: ~"@{theme-@{value}__palette__body--background}";
			box-shadow: 0.5px 0.5px 2px 0 ~"@{web-app-commons__theme-@{value}__palette__shadow}";
		}
		body.webappcommons-theme-@{value}.theme-dark :host & {
			background: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
			box-shadow: -0.5px -0.5px 2px 0 ~"@{web-app-commons__theme-@{value}__palette__shadow--dark}";
		}
	});
	
	:host.no-padding & {
		padding: 0;
	}
	
	:host.square-top & {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	:host.square-bottom & {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	z-index: @web-app-commons__elevation__scrolling-raised;
}

:host.full-height section {
	height: 100%;
}

section {
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}).theme-light.filled & {
			background: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
		:host-context(body.webappcommons-theme-@{value}).theme-dark.filled & {
			background: ~"@{web-app-commons__theme-@{value}__palette__subtlest--dark}";
		}
	});
}
