<aside>
	<p *ngIf="this.title">{{this.title}}</p>
	<ul>
			<li *ngFor="let digit of this.pin.split(''); let last = last">
			<i *ngIf="!last || !showDigit" class="material-icons">fiber_manual_record</i>
			<ng-container *ngIf="last && showDigit">{{digit}}</ng-container>
		</li>
	</ul>
	<commons-keyboard
			[keyboard]="this.pinKeyboard"
			[disableOk]="this.pin.length < this.minLength || this.pin.length > this.maxLength"
			[disableBackspace]="!this.pin.length"
			[disableCharacters]="this.pin.length === this.maxLength"
			[disableThemeInvert]="true"
			(onBackspace)="this.pin = this.pin.substr(0, this.pin.length - 1);"
			(onCharacter)="this.doCharacter($event);"
			(onOk)="this.onSubmit.emit(this.pin);"
	></commons-keyboard>
</aside>
