<ng-container *ngIf="this.depth > 0">
<b *ngIf="this.tag === 'b'"><commons-markup-inner
		[depth]="this.depth - 1"
		[markup]="this.markup"
></commons-markup-inner></b>
<i *ngIf="this.tag === 'i'"><commons-markup-inner
		[depth]="this.depth - 1"
		[markup]="this.markup"
></commons-markup-inner></i>
<h4 *ngIf="this.tag === 'h4'"><commons-markup-inner
		[depth]="this.depth - 1"
		[markup]="this.markup"
></commons-markup-inner></h4>
<ng-container *ngFor="let line of this.lines">
	<ul *ngIf="line.type === 'ul'">
		<li *ngFor="let l of line.content">
			<commons-markup-inner
					[depth]="this.depth - 1"
					[markup]="l"
			></commons-markup-inner>
		</li>
	</ul>
	<ol *ngIf="line.type === 'ol'">
		<li *ngFor="let l of line.content">
			<commons-markup-inner
					[depth]="this.depth - 1"
					[markup]="l"
			></commons-markup-inner>
		</li>
	</ol>
	<p *ngIf="line.type === 'markup'">
		<commons-markup-inner
				[depth]="this.depth - 1"
				[markup]="line.content"
		></commons-markup-inner>
	</p>
</ng-container>
<commons-markup-inner *ngIf="this.pre"
		[depth]="this.depth - 1"
		[markup]="this.pre"
></commons-markup-inner>
<commons-markup-inner *ngIf="this.inner"
		[depth]="this.depth - 1"
		[tag]="this.innerTag"
		[markup]="this.inner"
></commons-markup-inner>
<span *ngIf="this.sym !== undefined"
		[innerHtml]="this.sym"
></span>
<commons-markup-inner *ngIf="this.post"
		[depth]="this.depth - 1"
		[markup]="this.post"
></commons-markup-inner>
<p *ngIf="this.content && this.first">{{this.content}}</p>
<ng-container *ngIf="this.content && !this.first">{{this.content}}</ng-container>
</ng-container>
