@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

:host {
	font-family: @materialdesign__font__family;
}

p, ul, ol {
	line-height: @materialdesign__font__body1--size * @web-app-commons__paragraph__text--lineheight--ratio;
	font-weight: @materialdesign__font__body1--weight;
	font-size: @materialdesign__font__body1--size;

	margin: 10px 0;
}

ul, ol {
	margin: 15px 0 15px 5px;
	padding: 0 0 0 25px;
}

ul {
	list-style-type: square;
}

li {
	margin: 5px 0;
	line-height: @materialdesign__font__body1--size * 1.35;
}

h4 {
	margin-bottom: 0;
}
