@charset 'utf8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';

section {
	display: block;
	box-sizing: border-box;
	font-size: 0;
	
	&[container] {
		width: @web-app-commons__sizes__cylinder-picker-date--width;
		
		&.short {
			width: @web-app-commons__sizes__cylinder-picker-date--width--short;
		}
	}
	
	&[day], &[month], &[year] {
		display: inline-block;
	}
	&[day] {
		width: @web-app-commons__sizes__cylinder-picker-date-day--width;
	}
	&[month] {
		width: @web-app-commons__sizes__cylinder-picker-date-month--width;
		
		&.short {
			width: @web-app-commons__sizes__cylinder-picker-date-month--width--short;
		}
	}
	&[year] {
		width: @web-app-commons__sizes__cylinder-picker-date-year--width;
		
		&.short {
			width: @web-app-commons__sizes__cylinder-picker-date-year--width--short;
		}
	}
}

aside {
	display: inline-block;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	
	overflow: hidden;
	
	margin: 0;
	padding: @web-app-commons__sizes__cylinder-picker-separator--padding 0 0 0;
	width: @web-app-commons__sizes__cylinder-picker-separator--width;
	height: @web-app-commons__sizes__cylinder-picker--height;

	font-family: @materialdesign__font__family;
	line-height: @materialdesign__font__headline--size * @web-app-commons__paragraph__text--lineheight--ratio;
	font-weight: @materialdesign__font__headline--weight;
	font-size: @materialdesign__font__headline--size;
}
